Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-fact-metadata, check-no-qassert

.pre-commit-config.yaml:

# QGroundControl Pre-Commit Configuration
# Install: pre-commit install
# Run: pre-commit run --all-files
# Update: pre-commit autoupdate

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: check-xml
        exclude: ^test/
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^translations/
      - id: end-of-file-fixer
        exclude: ^(translations/.*\.ts|.*\.(png|jpg|jpeg|gif|svg|ico|bin|dat))$
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: \.(bat|ps1)$

  # C++ formatting (commented out - uncomment to enable)
  # - repo: https://github.com/pre-commit/mirrors-clang-format
  #   rev: v19.1.7
  #   hooks:
  #     - id: clang-format
  #       types_or: [c++, c]
  #       args: ['-i']
  #       exclude: ^build/

  # Python formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Don't warn about not following sourced files

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 200}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}']

  # QGC-specific checks
  - repo: local
    hooks:
      - id: qmllint
        name: Lint QML files
        entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@" || true; else echo "qmllint not found - skipping QML linting (install qt6-declarative-dev-tools or Qt SDK)"; fi' --
        language: system
        files: \.qml$
        exclude: ^build/
        pass_filenames: true

      - id: check-fact-metadata
        name: Validate Fact metadata JSON
        entry: python3
        language: system
        files: '\.FactMetaData\.json$|\.SettingsGroup\.json$'
        pass_filenames: true
        args:
          - -c
          - |
            import sys, json
            for f in sys.argv[1:]:
                try:
                    with open(f) as fp:
                        json.load(fp)
                except Exception as e:
                    print(f"Invalid JSON in {f}: {e}")
                    sys.exit(1)

      - id: check-no-qassert
        name: Check for Q_ASSERT in production code
        entry: bash
        language: system
        files: \.(h|cc|cpp)$
        exclude: ^(test/|UnitTest\.h|UnitTest\.cc)
        pass_filenames: false
        args:
          - -c
          - |
            FILES=$(git diff --cached --name-only --diff-filter=d | grep -E '\.(h|cc|cpp)$' | grep -v '^test/' || true)
            if [ -n "$FILES" ]; then
              if echo "$FILES" | xargs grep -n 'Q_ASSERT' 2>/dev/null; then
                echo "Warning: Q_ASSERT found in production code. Consider using defensive checks with early returns."
              fi
            fi

exclude: ^build/

code review
  docs/en/qgc-user-guide/setup_view/joystick.md
Due: none

Disable capture video button when video not streaming
  src/Camera/SimulatedCameraControl.cc
  src/FlightMap/Widgets/PhotoVideoControl.qml
  src/QmlControls/QGCPalette.cc
Due: qmllint, check-no-qassert

Update src/FlightMap/Widgets/PhotoVideoControl.qml
  src/FlightMap/Widgets/PhotoVideoControl.qml
Due: qmllint

More work on making Radio Cal base ready for joystick use as well
  qgcresources.qrc
  resources/calibration/mode1/radioCenter.png
  resources/calibration/mode1/radioHome.png
  resources/calibration/mode1/radioPitchDown.png
  resources/calibration/mode1/radioPitchUp.png
  resources/calibration/mode1/radioRollLeft.png
  resources/calibration/mode1/radioRollRight.png
  resources/calibration/mode1/radioSwitchMinMax.png
  resources/calibration/mode1/radioThrottleDown.png
  resources/calibration/mode1/radioThrottleUp.png
  resources/calibration/mode1/radioYawLeft.png
  resources/calibration/mode1/radioYawRight.png
  resources/calibration/mode2/radioCenter.png
  resources/calibration/mode2/radioHome.png
  resources/calibration/mode2/radioPitchDown.png
  resources/calibration/mode2/radioPitchUp.png
  resources/calibration/mode2/radioRollLeft.png
  resources/calibration/mode2/radioRollRight.png
  resources/calibration/mode2/radioSwitchMinMax.png
  resources/calibration/mode2/radioThrottleDown.png
  resources/calibration/mode2/radioThrottleUp.png
  resources/calibration/mode2/radioYawLeft.png
  resources/calibration/mode2/radioYawRight.png
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.cc
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.h
Due: qmllint, check-no-qassert

Dark palette color tweaks
  src/QmlControls/QGCPalette.cc
Due: check-no-qassert

Better error display on mavlink command failure
  src/Vehicle/Vehicle.cc
Due: check-no-qassert

Fix message when vehicle is connected but params downloading
  src/Vehicle/VehicleSetup/SetupView.qml
Due: qmllint

Constrain RC_CHANNELS values to what we can handle
  src/Vehicle/Vehicle.cc
Due: check-no-qassert

Fix positioning of Terrain Progress and PhotoVideo control
  src/FlyView/FlyViewTopRightColumnLayout.qml
  src/FlyView/FlyViewWidgetLayer.qml
  src/FlyView/TerrainProgress.qml
Due: qmllint

Update src/Vehicle/VehicleSetup/SetupView.qml
  src/Vehicle/VehicleSetup/SetupView.qml
Due: qmllint

Various fixes/changed to control coloring
  src/QmlControls/QGCCheckBox.qml
  src/QmlControls/QGCCheckBoxSlider.qml
  src/QmlControls/QGCComboBox.qml
  src/QmlControls/QGCRadioButton.qml
Due: qmllint

Add support for drag to Application in DMG
  cmake/install/CreateMacDMG.cmake
Due: none

When checkbox is used on FactTextFieldSlider don't disable label
  src/FactSystem/FactControls/FactTextFieldSlider.qml
  src/FactSystem/FactControls/LabelledFactTextField.qml
Due: qmllint

Update src/QmlControls/QGCCheckBoxSlider.qml
  src/QmlControls/QGCCheckBoxSlider.qml
Due: qmllint

Various fixes/changes to control coloring
  src/QmlControls/QGCCheckBox.qml
  src/QmlControls/QGCCheckBoxSlider.qml
  src/QmlControls/QGCComboBox.qml
  src/QmlControls/QGCRadioButton.qml
Due: qmllint

Use number dashes for invalid value placeholders
  src/FactSystem/Fact.cc
  src/FlyView/ProximityRadarValues.qml
  src/QmlControls/GPSIndicatorPage.qml
  src/QmlControls/InstrumentValueValue.qml
  src/UI/toolbar/EscIndicatorPage.qml
  src/Vehicle/FactGroups/BatteryFactGroupListModel.cc
  src/Vehicle/FactGroups/VehicleFactGroup.cc
Due: qmllint, check-no-qassert

refactor(GStreamer): improve cleanup handling in video receiver
  src/VideoManager/VideoReceiver/GStreamer/GstVideoReceiver.cc
  src/VideoManager/VideoReceiver/GStreamer/GstVideoReceiver.h
Due: check-no-qassert

Download windows gstreamer from S3 copy
  tools/setup/install-dependencies-windows.ps1
Due: none

Refactored RadioComponent.qml into RemoteControlCalibration base class
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/Vehicle/VehicleSetup/CMakeLists.txt
  src/Vehicle/VehicleSetup/RemoteControlCalibration.qml
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.cc
Due: qmllint, check-no-qassert

Reworked plan right panel back to old style
  src/QmlControls/GeoFenceEditor.qml
  src/QmlControls/MissionItemEditor.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/PlanViewRightPanel.qml
  src/QmlControls/RallyPointItemEditor.qml
  src/QmlControls/RallyPointMapVisuals.qml
  src/QmlControls/SimpleItemEditor.qml
Due: qmllint

Erase system dependencies from Containerfiles. Added locale update inside dependencies script and minor packages (jq unzip curl).
  deploy/docker/Containerfile-build-android
  deploy/docker/Containerfile-build-ubuntu
  tools/setup/install-dependencies-debian.sh
Due: none

New Mission Status tool at bottom of display
  qgcresources.qrc
  resources/chevron-double-left.svg
  resources/sliders.svg
  src/FlightMap/MapScale.qml
  src/FlyView/FlyViewMap.qml
  src/FlyView/FlyViewWidgetLayer.qml
  src/QmlControls/CMakeLists.txt
  src/QmlControls/MissionStats.qml
  src/QmlControls/OfflineMapEditor.qml
  src/QmlControls/PlanView.qml
Due: qmllint

Add automatic mission start/resume popups setting
  src/FlyView/GuidedActionsController.qml
  src/Settings/FlyView.SettingsGroup.json
  src/Settings/FlyViewSettings.cc
  src/Settings/FlyViewSettings.h
Due: qmllint, check-fact-metadata, check-no-qassert

Derive additional action availability from model
  src/FlyView/FlyViewAdditionalActionsList.qml
  src/FlyView/FlyViewAdditionalCustomActionsList.qml
Due: qmllint

Consolidate CI workflows and add reusable actions
  .github/actions/common/action.yml
  .github/actions/coverage/action.yml
  .github/workflows/android.yml
  .github/workflows/build-summary.yml
  .github/workflows/check-links.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/pre-commit.yml
  .github/workflows/scorecard.yml
  .github/workflows/size-check.yml
  cmake/modules/Coverage.cmake
  tools/README.md
  tools/check-sizes.py
  tools/coverage.sh
  tools/setup/install-dependencies-debian.sh
Due: none
