Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-fact-metadata, check-no-qassert

.pre-commit-config.yaml:

# QGroundControl Pre-Commit Configuration
# Install: pre-commit install
# Run: pre-commit run --all-files
# Update: pre-commit autoupdate

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: check-xml
        exclude: ^test/
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^translations/
      - id: end-of-file-fixer
        exclude: ^(translations/.*\.ts|.*\.(png|jpg|jpeg|gif|svg|ico|bin|dat))$
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: \.(bat|ps1)$

  # C++ formatting (commented out - uncomment to enable)
  # - repo: https://github.com/pre-commit/mirrors-clang-format
  #   rev: v19.1.7
  #   hooks:
  #     - id: clang-format
  #       types_or: [c++, c]
  #       args: ['-i']
  #       exclude: ^build/

  # Python formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Don't warn about not following sourced files

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 200}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}']

  # QGC-specific checks
  - repo: local
    hooks:
      - id: qmllint
        name: Lint QML files
        entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@" || true; else echo "qmllint not found - skipping QML linting (install qt6-declarative-dev-tools or Qt SDK)"; fi' --
        language: system
        files: \.qml$
        exclude: ^build/
        pass_filenames: true

      - id: check-fact-metadata
        name: Validate Fact metadata JSON
        entry: python3
        language: system
        files: '\.FactMetaData\.json$|\.SettingsGroup\.json$'
        pass_filenames: true
        args:
          - -c
          - |
            import sys, json
            for f in sys.argv[1:]:
                try:
                    with open(f) as fp:
                        json.load(fp)
                except Exception as e:
                    print(f"Invalid JSON in {f}: {e}")
                    sys.exit(1)

      - id: check-no-qassert
        name: Check for Q_ASSERT in production code
        entry: bash
        language: system
        files: \.(h|cc|cpp)$
        exclude: ^(test/|UnitTest\.h|UnitTest\.cc)
        pass_filenames: false
        args:
          - -c
          - |
            FILES=$(git diff --cached --name-only --diff-filter=d | grep -E '\.(h|cc|cpp)$' | grep -v '^test/' || true)
            if [ -n "$FILES" ]; then
              if echo "$FILES" | xargs grep -n 'Q_ASSERT' 2>/dev/null; then
                echo "Warning: Q_ASSERT found in production code. Consider using defensive checks with early returns."
              fi
            fi

exclude: ^build/

Add RPM Sensor Fact Group implementation and related files
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/RPMSensorFact.json
  src/Vehicle/FactGroups/VehicleRPMFactGroup.cc
  src/Vehicle/FactGroups/VehicleRPMSensorFactGroup.cc
  src/Vehicle/FactGroups/VehicleRPMSensorFactGroup.h
  src/Vehicle/FactGroups/VehicleTemperatureFactGroup.cc
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

Let's try idk
  docs/en/qgc-dev-guide/getting_started/index.md
Due: none

Clarify architecture placeholder in Windows Qt installation instructions
  docs/en/qgc-dev-guide/getting_started/index.md
Due: none

Fix paths, formatting and clarify resource override documentation.
  docs/en/qgc-dev-guide/custom_build/resource_override.md
Due: none

Fix references to MainRootWindow.qml, updating to MainWindow.qml in toolbar and navigating source documentation
  docs/en/qgc-dev-guide/custom_build/toolbar.md
  docs/en/qgc-dev-guide/navigating_source.md
  docs/ko/qgc-dev-guide/custom_build/toolbar.md
  docs/ko/qgc-dev-guide/navigating_source.md
  docs/tr/qgc-dev-guide/custom_build/toolbar.md
  docs/tr/qgc-dev-guide/navigating_source.md
  docs/zh/qgc-dev-guide/custom_build/toolbar.md
  docs/zh/qgc-dev-guide/navigating_source.md
Due: none

Update resource references and clarify resource override base documentation in other languages.
  docs/ko/qgc-dev-guide/custom_build/resource_override.md
  docs/tr/qgc-dev-guide/custom_build/resource_override.md
  docs/zh/qgc-dev-guide/custom_build/resource_override.md
Due: none

Derive additional action availability from model
  src/FlyView/FlyViewAdditionalActionsList.qml
  src/FlyView/FlyViewAdditionalCustomActionsList.qml
Due: qmllint

ci(docker): Fix artifact detection broken pipe and permission errors
  .github/workflows/docker.yml
Due: none

Changed main view switching mechanism
  qgcresources.qrc
  resources/FlyingPaperPlane.svg
  resources/GearWithPaperPlane.svg
  resources/OpenDoor.svg
  src/QmlControls/PlanViewToolBar.qml
  src/UI/MainWindow.qml
  src/UI/toolbar/CMakeLists.txt
  src/UI/toolbar/Images/Gears.svg
  src/UI/toolbar/Images/PaperPlane.svg
  src/UI/toolbar/SelectViewDropdown.qml
Due: qmllint

GPS: Set Drivers to Specific Commit
  src/GPS/CMakeLists.txt
Due: none

style(ci): Fix useless use of cat in jq pipeline
  .github/workflows/build-results.yml
Due: none

ci: Fix CI issues and consolidate workflows (#13773)
  .github/workflows/auto-merge.yml
  .github/workflows/build-results.yml
  .github/workflows/build-summary.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/coverage-comment.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-report.yml
  .github/workflows/test-results.yml
  .pre-commit-config.yaml
  cmake/Helpers.cmake
  cmake/Toolchain.cmake
Due: none

docs: Update container documentation to reflect Ubuntu 24.04 and clarify build instructions
  docs/en/qgc-dev-guide/getting_started/container.md
Due: none

Changed from Initial Mission Settings to Mission Settings
  src/MissionManager/MissionSettingsItem.h
Due: check-no-qassert

Reduced default side of text fields
  src/QmlControls/ScreenTools.qml
Due: qmllint

More work on Altitude Mode
  src/QmlControls/AltModeCombo.qml
  src/QmlControls/AltModeDialog.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/SimpleItemEditor.qml
Due: qmllint, check-no-qassert

Fix switching between a tool and a view
  src/UI/MainWindow.qml
Due: qmllint

Plan: Changed insert waypoint/roi to left/right click
  src/FlightMap/FlightMap.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanToolBarIndicators.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/RallyPointEditorHeader.qml
Due: qmllint

feat(tools): Add QtCreator C++ plugin with MAVLink completion
  tools/README.md
  tools/locators/README.md
  tools/lsp/README.md
  tools/qtcreator/README.md
  tools/qtcreator/lua/QGCTools/QGCTools.lua
  tools/qtcreator/lua/QGCTools/init.lua
  tools/qtcreator/plugin/CMakeLists.txt
  tools/qtcreator/plugin/QGCPlugin.json.in
  tools/qtcreator/plugin/README.md
  tools/qtcreator/plugin/src/completion/mavlinkcompletionassist.cpp
  tools/qtcreator/plugin/src/completion/mavlinkcompletionassist.h
  tools/qtcreator/plugin/src/qgcconstants.h
  tools/qtcreator/plugin/src/qgcplugin.cpp
  tools/qtcreator/plugin/src/qgcplugin.h
  tools/qtcreator/plugin/src/qgcplugin_global.h
  tools/qtcreator/plugin/src/wizard/factgroupwizardfactory.cpp
  tools/qtcreator/plugin/src/wizard/factgroupwizardfactory.h
  tools/qtcreator/plugin/src/wizard/factgroupwizardpage.cpp
  tools/qtcreator/plugin/src/wizard/factgroupwizardpage.h
  tools/qtcreator/qtcreator_plugin_proposal.md
  tools/qtcreator/snippets/qgc-cpp.xml
Due: check-no-qassert

feat(tools): Add dynamic MAVLink loading and Fact go-to-definition
  tools/analyzers/vehicle_null_check.py
  tools/lsp/README.md
  tools/lsp/__init__.py
  tools/lsp/mavlink_data.py
  tools/lsp/mavlink_parser.py
  tools/lsp/server.py
  tools/qtcreator/lua/QGCTools/init.lua
  tools/qtcreator/plugin/src/completion/mavlinkcompletionassist.cpp
  tools/qtcreator/plugin/src/completion/mavlinkcompletionassist.h
  tools/qtcreator/qtcreator_plugin_proposal.md
  tools/tests/test_factgroup_generator.py
Due: check-no-qassert

feat(lsp): Add Fact JSON completion support
  tools/lsp/README.md
  tools/lsp/fact_schema.py
  tools/lsp/server.py
Due: none

feat(tools): Add QGC Language Server with QtCreator integration
  tools/lsp/README.md
  tools/lsp/__init__.py
  tools/lsp/__main__.py
  tools/lsp/server.py
  tools/lsp/vscode-extension/package.json
  tools/lsp/vscode-extension/src/extension.ts
  tools/lsp/vscode-extension/tsconfig.json
  tools/qtcreator-plugin/README.md
  tools/qtcreator-plugin/lua/QGCTools/init.lua
Due: none

feat(lsp): Add MAVLink completion support
  tools/lsp/README.md
  tools/lsp/__init__.py
  tools/lsp/mavlink_data.py
  tools/lsp/server.py
Due: none

feat(tools): Add QtCreator Lua extension for IDE integration
  .vscode/settings.default.json
  tools/README.md
  tools/locators/README.md
  tools/locators/qgc_locator.py
  tools/qtcreator-plugin/README.md
  tools/qtcreator-plugin/lua/QGCTools/QGCTools.lua
  tools/qtcreator-plugin/lua/QGCTools/init.lua
  tools/schemas/factmetadata.schema.json
Due: none

feat(tools): Enhance FactGroup generator with MAVLink field mappings
  tools/generators/factgroup/README.md
  tools/generators/factgroup/examples/gps.yaml
  tools/generators/factgroup/examples/wind.yaml
  tools/generators/factgroup/generator.py
  tools/generators/factgroup/templates/metadata.json.j2
  tools/generators/factgroup/templates/source.cc.j2
  tools/qtcreator-plugin/qtcreator_plugin_proposal.md
Due: none

feat(tools): Add QtCreator plugin tools and code generators
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.default.json
  .vscode/settings.default.json
  .vscode/tasks.default.json
  tools/README.md
  tools/analyzers/__init__.py
  tools/analyzers/vehicle_null_check.py
  tools/generators/__init__.py
  tools/generators/factgroup/__init__.py
  tools/generators/factgroup/cli.py
  tools/generators/factgroup/generator.py
  tools/generators/factgroup/templates/header.h.j2
  tools/generators/factgroup/templates/metadata.json.j2
  tools/generators/factgroup/templates/source.cc.j2
  tools/qtcreator-plugin/README.md
  tools/qtcreator-plugin/locators/README.md
  tools/qtcreator-plugin/locators/qgc_locator.py
  tools/qtcreator-plugin/schemas/factmetadata.schema.json
  tools/qtcreator-plugin/snippets/qgc-cpp.xml
Due: none

refactor(tools): Consolidate and enhance developer tools
  tools/README.md
  tools/analyzers/README.md
  tools/analyzers/vehicle_null_check.py
  tools/common/README.md
  tools/common/__init__.py
  tools/common/file_traversal.py
  tools/common/patterns.py
  tools/generators/factgroup/README.md
  tools/generators/factgroup/cli.py
  tools/generators/factgroup/examples/wind.yaml
  tools/generators/factgroup/generator.py
  tools/generators/factgroup/templates/metadata.json.j2
  tools/mock-mavlink/README.md
  tools/qtcreator-plugin/README.md
  tools/qtcreator-plugin/locators/qgc_locator.py
  tools/simulation/README.md
  tools/simulation/mock_vehicle.py
  tools/simulation/run-arducopter-sitl.sh
  tools/tests/__init__.py
  tools/tests/fixtures/null_check_samples.cpp
  tools/tests/fixtures/test_spec.yaml
  tools/tests/fixtures/test_spec_invalid.yaml
  tools/tests/test_common.py
  tools/tests/test_factgroup_generator.py
  tools/tests/test_vehicle_null_check.py
Due: check-no-qassert

refactor(ci): Remove artifact size threshold checks
  .github/workflows/build-results.yml
  tools/README.md
  tools/check-sizes.py
Due: none

ci: Update GitHub Actions to latest versions
  .github/actions/cache/action.yml
  .github/actions/coverage/action.yml
  .github/actions/gstreamer/action.yml
  .github/actions/upload/action.yml
  .github/workflows/android.yml
  .github/workflows/build-results.yml
  .github/workflows/check-links.yml
  .github/workflows/docker.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/lupdate.yml
  .github/workflows/macos.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/repo-stats.yml
  .github/workflows/scorecard.yml
  .github/workflows/test-results.yml
  .github/workflows/welcome.yml
  .github/workflows/windows.yml
Due: none

fix(ci): Correct test results parsing in PR comments
  .github/workflows/test-results.yml
Due: none

Fix TTS plugin loading and improve AppImage compatibility
  deploy/linux/AppRun
  deploy/linux/_AppRun
Due: none

ci(windows): Switch to actively maintained MSVC setup action
  .github/workflows/windows.yml
Due: none
