Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

ci(apple): Add git-restore-mtime for better ccache hits
  .github/workflows/ios.yml
  .github/workflows/macos.yml
Due: none

ci: Add merge queue support and SBOM attestation
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/windows.yml
Due: none

ci: Replace semantic-release with tag-based releases
  .github/workflows/release.yml
  tools/release.sh
Due: none

ci: Add manual clazy and sanitizer workflows
  .github/workflows/clazy.yml
  .github/workflows/sanitizers.yml
Due: none

ci: Add manual include-what-you-use workflow
  .github/workflows/iwyu.yml
Due: none

ci(docker): Add dorny/paths-filter for platform-specific builds
  .github/workflows/docker.yml
Due: none

Add GPS resilience icons
  qgcimages.qrc
  src/UI/toolbar/Images/GpsAuthentication.svg
  src/UI/toolbar/Images/GpsInterference.svg
Due: none

Extend GPS fact groups with integrity fields
  src/Vehicle/FactGroups/GPSFact.json
  src/Vehicle/FactGroups/VehicleGPSFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
Due: check-no-qassert

Add GPS2 integrity message handling
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.cc
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.h
Due: check-no-qassert

Create GPS aggregate fact group
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.h
Due: check-no-qassert

Wire GPS aggregate into Vehicle class
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

Add GPS resilience toolbar indicator
  src/FirmwarePlugin/FirmwarePlugin.cc
  src/UI/toolbar/CMakeLists.txt
  src/UI/toolbar/GPSResilienceIndicator.qml
Due: qmllint, check-no-qassert

ci: Add build-setup composite action for common workflow steps
  .github/actions/build-setup/action.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

Add GPS system errors to existing GPS indicator page
  src/QmlControls/GPSIndicatorPage.qml
Due: qmllint

Copilot review follow-up: Remove trailing whitespace
  src/UI/toolbar/CMakeLists.txt
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
Due: check-no-qassert

Copilot review follow-up: Remove redundant code in GPS aggregate handling
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.h
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
Due: check-no-qassert

Copilot review follow-up: Improve GPS resilience code clarity
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.h
Due: check-no-qassert

ci: Add GStreamer build-from-source workflows for all platforms
  .github/workflows/build-gstreamer-android.yml
  .github/workflows/build-gstreamer-ios.yml
  .github/workflows/build-gstreamer-linux.yml
  .github/workflows/build-gstreamer-macos.yml
  .github/workflows/build-gstreamer-windows.yml
  src/pch.h
  tools/setup/gstreamer/build-gstreamer-android.sh
  tools/setup/gstreamer/build-gstreamer-ios.sh
  tools/setup/gstreamer/build-gstreamer-linux.sh
  tools/setup/gstreamer/build-gstreamer-macos.sh
  tools/setup/gstreamer/build-gstreamer-windows.ps1
  tools/setup/install-dependencies-windows.ps1
Due: check-no-qassert

ci: Add performance metrics workflow with size tracking
  .github/workflows/performance.yml
Due: none

test: Add MAVLink benchmark for performance tracking
  .github/workflows/performance.yml
  test/CMakeLists.txt
  test/MAVLink/CMakeLists.txt
  test/MAVLink/MAVLinkBenchmark.cc
  test/MAVLink/MAVLinkBenchmark.h
Due: none

Add signal emission on GNSS_INTEGRITY message receipt for stale timer
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
Due: check-no-qassert

cmake: Simplify CMake presets with default caching
  .github/build-config.json
  CMakePresets.json.template
  cmake/presets/Android.json
  cmake/presets/Linux.json
  cmake/presets/Windows.json
  cmake/presets/common.json
  cmake/presets/iOS.json
  cmake/presets/macOS.json
Due: none

WIP
  src/Joystick/CMakeLists.txt
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/Joystick/JoystickFactsMetaData.json
  src/Settings/CMakeLists.txt
  src/Settings/Joystick.SettingsGroup.json
  src/Settings/JoystickAxis.SettingsGroup.json
  src/Settings/JoystickAxisSettings.cc
  src/Settings/JoystickAxisSettings.h
  src/Settings/JoystickButtonAction.SettingsGroup.json
  src/Settings/JoystickButtonActionSettings.cc
  src/Settings/JoystickButtonActionSettings.h
  src/Settings/JoystickSettings.cc
  src/Settings/JoystickSettings.h
  src/Settings/SettingsGroup.h
  src/Vehicle/VehicleSetup/JoystickConfigController.cc
Due: check-no-qassert

Refine GPS resilience details visibility
  src/UI/toolbar/GPSResilienceIndicator.qml
Due: qmllint

Changed to CamelCase (build tested on Windows).
  src/Vehicle/FactGroups/RPMFact.json
  src/Vehicle/FactGroups/VehicleRPMFactGroup.cc
  src/Vehicle/FactGroups/VehicleRPMFactGroup.h
Due: check-no-qassert

Fe de erratas.
  src/Vehicle/FactGroups/VehicleRPMFactGroup.cc
Due: check-no-qassert

cmake: Fix preset version and ccache config compatibility
  CMakePresets.json.template
  cmake/presets/Android.json
  cmake/presets/Linux.json
  cmake/presets/Windows.json
  cmake/presets/common.json
  cmake/presets/iOS.json
  cmake/presets/macOS.json
  tools/ccache.conf
Due: none

ci: Consolidate workflows and add security hardening
  .github/workflows/analysis.yml
  .github/workflows/build-gstreamer-android.yml
  .github/workflows/build-gstreamer-ios.yml
  .github/workflows/build-gstreamer-linux.yml
  .github/workflows/build-gstreamer-macos.yml
  .github/workflows/build-gstreamer-windows.yml
  .github/workflows/build-gstreamer.yml
  .github/workflows/clazy.yml
  .github/workflows/crowdin.yml
  .github/workflows/crowdin_docs_download.yml
  .github/workflows/crowdin_docs_upload.yml
  .github/workflows/flatpak.yml
  .github/workflows/ios.yml
  .github/workflows/iwyu.yml
  .github/workflows/performance.yml
  .github/workflows/sanitizers.yml
Due: none

ci: Consolidate GStreamer and Python setup into reusable actions
  .github/actions/build-config/action.yml
  .github/actions/cache/action.yml
  .github/actions/gstreamer/action.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/analysis.yml
  .github/workflows/build-gstreamer.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/performance.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .gitignore
  tools/README.md
  tools/pyproject.toml
  tools/setup/gstreamer/build-gstreamer-linux.sh
  tools/setup/gstreamer/build-gstreamer-macos.sh
  tools/setup/gstreamer/build-gstreamer-windows.ps1
  tools/setup/install-python.sh
  tools/setup/install-qt-macos.sh
  tools/setup/install-qt-windows.ps1
  tools/setup/read-config.sh
Due: none

fix init issues
  src/AutoPilotPlugins/PX4/AM32SettingSlider.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromSchema.cc
Due: qmllint, check-no-qassert

ci: Add AWS OIDC support for secure credential-free uploads
  .github/actions/aws-upload/action.yml
  .github/actions/upload/action.yml
  .github/workflows/android.yml
  .github/workflows/build-gstreamer.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

docs: Condense tools README files
  tools/README.md
  tools/coding-style/README.md
  tools/qtcreator/README.md
Due: none

ci: Use CPM package lock for precise cache invalidation
  .github/actions/cache/action.yml
  CMakeLists.txt
  package-lock.cmake
Due: none

Add RPM Sensor Fact Group implementation and related files (#13775)
  src/Vehicle/FactGroups/RPMFact.json
  src/Vehicle/FactGroups/VehicleRPMFactGroup.cc
  src/Vehicle/FactGroups/VehicleRPMFactGroup.h
  src/Vehicle/FactGroups/VehicleTemperatureFactGroup.cc
Due: check-no-qassert

small changes
  devrun.sh
  src/AAD/KamikazeLocManager.cc
  src/AAD/KamikazeLocManager.h
  src/FlightMap/FlightMap.qml
Due: qmllint, check-no-qassert

ci: Consolidate actions and improve Qt/dependency setup
  .github/actions/build-setup/action.yml
  .github/actions/cache/action.yml
  .github/actions/gstreamer/action.yml
  .github/actions/qt-android/action.yml
  .github/actions/qt-ios/action.yml
  .github/actions/test-report/action.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .gitignore
  tools/setup/install-dependencies-debian.sh
  tools/setup/install-dependencies-macos.sh
  tools/setup/install-qt-debian.sh
  tools/setup/install-qt-macos.sh
  tools/setup/install-qt-windows.ps1
Due: none

RemoteID: Fix EU operator ID validation never running
  src/UI/AppSettings/RemoteIDSettings.qml
Due: qmllint

Simplify GNSS Integrity ID handling
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.h
  src/Vehicle/FactGroups/VehicleGPSFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
Due: check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
