Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)

fix(compression): Replace zlib-ng with original zlib to fix PNG iCCP segfault
  src/Utilities/Compression/CMakeLists.txt
Due: none

add RC_MAP_PAY_SW to Radio page, add tooltip helper to Facts with longDescription, add textLink color
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/AutoPilotPlugins/PX4/ActuatorComponent.qml
  src/AutoPilotPlugins/PX4/PX4TuningComponentCopterRate.qml
  src/FactSystem/FactControls/LabelledFactComboBox.qml
  src/QmlControls/QGCPalette.cc
  src/QmlControls/QGCPalette.h
  src/UI/AppSettings/HelpSettings.qml
Due: qmllint, check-no-qassert

remove RC_DZ params
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
Due: check-no-qassert

Update src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
Due: check-no-qassert

fix QGCCompassWidget console warnings
  src/FlightMap/Widgets/QGCCompassWidget.qml
Due: qmllint

fix GimbalIndicator console warnings
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint

Fix QML console warnings for undefined property access
  custom-example/res/Custom/Widgets/CustomAttitudeWidget.qml
  custom-example/src/FlyViewCustomLayer.qml
  src/AnalyzeView/VibrationPage.qml
  src/FlightMap/MapItems/ProximityRadarMapView.qml
  src/FlightMap/MapItems/QGCMapCircleVisuals.qml
  src/FlightMap/MapItems/VehicleMapItem.qml
  src/FlightMap/Widgets/IntegratedCompassAttitude.qml
  src/FlightMap/Widgets/QGCAttitudeWidget.qml
  src/FlyView/ObstacleDistanceOverlay.qml
  src/FlyView/PreFlightBatteryCheck.qml
  src/FlyView/PreFlightGPSCheck.qml
  src/FlyView/ProximityRadarValues.qml
  src/FlyView/TerrainProgress.qml
  src/QmlControls/GPSIndicator.qml
  src/QmlControls/GPSIndicatorPage.qml
  src/QmlControls/OfflineMapEditor.qml
  src/UI/toolbar/GimbalIndicator.qml
  src/Viewer3D/Viewer3DQml/Drones/DroneModelDjiF450.qml
Due: qmllint

fix(linux): Add Wayland platform plugin for Qt 6.10 AppImage builds
  CMakeLists.txt
  cmake/install/Install.cmake
  deploy/linux/appimagecraft.yml
Due: none

fix: `Unable to assign [undefined]` errors (#13866)
  src/FlightMap/Widgets/QGCCompassWidget.qml
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint

Added everything
  custom-example/src/FlyViewCustomLayer.qml
  custom/README.md
  custom/res/Custom/ObjectTrackingDashboard.qml
  custom/src/FlyViewCustomLayer.qml
Due: qmllint

Refactor: Rename ggcPal to qgcPal in APMSafetyComponent.qml
  src/AutoPilotPlugins/APM/APMSafetyComponent.qml
Due: qmllint

Refactor: Remove unused APM Safety QML components
  src/AutoPilotPlugins/APM/APMSafetyComponentCopter.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentPlane.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentRover.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummaryCopter.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummaryPlane.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummaryRover.qml
  src/AutoPilotPlugins/APM/CMakeLists.txt
Due: qmllint

Feature: Support ARMING_SKIPCHK parameter in APM Safety Components
  src/AutoPilotPlugins/APM/APMSafetyComponent.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSub.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummary.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummarySub.qml
Due: qmllint

Build: Add ArduPilot 4.7 parameter definition files
  src/FirmwarePlugin/APM/CMakeLists.txt
Due: none

fix(ci): aggregate artifacts from all platform workflows in build-results
  .github/actions/download-all-artifacts/action.yml
  .github/workflows/build-results.yml
  .github/workflows/pre-commit.yml
Due: none

Added Do_Sprayer command support
  custom/cmake/CustomOverrides.cmake
  custom/custom.qrc
  custom/src/AutoPilotPlugin/CustomAutoPilotPlugin.cc
  custom/src/AutoPilotPlugin/CustomAutoPilotPlugin.h
  custom/src/FirmwarePlugin/CustomFirmwarePlugin.cc
  custom/src/FirmwarePlugin/CustomFirmwarePlugin.h
  custom/src/FirmwarePlugin/CustomFirmwarePluginFactory.cc
  custom/src/json/Custom-MavCmdInfoCommon.json
Due: check-no-qassert

Added necessary files for SprayComplexItem
  custom/src/SprayPattern/Spray.SettingsGroup.json
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
Due: check-no-qassert

fix(ci): Prevent PR builds from saving caches
  .github/actions/cache/action.yml
  .github/workflows/check-links.yml
  .github/workflows/pre-commit.yml
Due: none

fix(Terrain): Improve robustness and add comprehensive unit tests
  src/Terrain/Providers/TerrainQueryCopernicus.cc
  src/Terrain/Providers/TerrainTileCopernicus.cc
  src/Terrain/Providers/TerrainTileCopernicus.h
  src/Terrain/TerrainQuery.cc
  src/Terrain/TerrainQuery.h
  src/Terrain/TerrainQueryInterface.cc
  src/Terrain/TerrainQueryInterface.h
  src/Terrain/TerrainTile.cc
  src/Terrain/TerrainTileManager.cc
  src/Terrain/TerrainTileManager.h
  test/Terrain/TerrainQueryTest.cc
  test/Terrain/TerrainQueryTest.h
  test/Terrain/TerrainTileTest.cc
  test/Terrain/TerrainTileTest.h
Due: check-no-qassert

fix(ci): Fix Build Results PR comments for fork PRs
  .github/actions/download-all-artifacts/action.yml
  .github/workflows/build-results.yml
Due: none

Added scripts for SprayComplexItem
  custom/CMakeLists.txt
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
  custom/src/json/Custom-MavCmdInfoCommon.json
Due: check-no-qassert

Registered SprayComplexItem in MissionController. Now have bug with spray pattern
  custom/custom.qrc
  custom/src/CustomPlugin.cc
  custom/src/CustomPlugin.h
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
  custom/src/SprayPattern/SprayItemEditor.qml
  custom/src/SprayPattern/SprayMapVisuals.qml
  src/MissionManager/MissionController.cc
Due: qmllint, check-no-qassert

Make entryCoordinate explicit in VisualMissionItem
  src/MissionManager/LandingComplexItem.cc
  src/MissionManager/LandingComplexItem.h
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionSettingsItem.cc
  src/MissionManager/MissionSettingsItem.h
  src/MissionManager/SimpleMissionItem.cc
  src/MissionManager/SimpleMissionItem.h
  src/MissionManager/StructureScanComplexItem.cc
  src/MissionManager/StructureScanComplexItem.h
  src/MissionManager/TransectStyleComplexItem.cc
  src/MissionManager/TransectStyleComplexItem.h
  src/MissionManager/VisualMissionItem.h
  test/MissionManager/SimpleMissionItemTest.cc
  test/MissionManager/VisualMissionItemTest.cc
  test/MissionManager/VisualMissionItemTest.h
Due: check-no-qassert

Add editableAlt getter to VisualMissionItem
  src/MissionManager/LandingComplexItem.cc
  src/MissionManager/LandingComplexItem.h
  src/MissionManager/MissionSettingsItem.h
  src/MissionManager/SimpleMissionItem.cc
  src/MissionManager/SimpleMissionItem.h
  src/MissionManager/StructureScanComplexItem.cc
  src/MissionManager/StructureScanComplexItem.h
  src/MissionManager/TransectStyleComplexItem.cc
  src/MissionManager/TransectStyleComplexItem.h
  src/MissionManager/VisualMissionItem.h
Due: check-no-qassert

Add mission item bulk displacement utilities
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionController.h
Due: check-no-qassert

Add hamburger menu with mission-wide transforms
  src/QmlControls/MissionItemEditor.qml
Due: qmllint

Still don't work, but closer
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
  custom/src/SprayPattern/SprayItemEditor.qml
  custom/src/SprayPattern/SprayMapVisuals.qml
Due: qmllint, check-no-qassert

fix: Correct artifact detection fallback logic
  .github/actions/download-all-artifacts/action.yml
Due: none

Add GPS resilience monitoring with GNSS_INTEGRITY message (#13812)
  qgcimages.qrc
  src/FirmwarePlugin/FirmwarePlugin.cc
  src/QmlControls/GPSIndicatorPage.qml
  src/UI/toolbar/CMakeLists.txt
  src/UI/toolbar/GPSResilienceIndicator.qml
  src/UI/toolbar/Images/GpsAuthentication.svg
  src/UI/toolbar/Images/GpsInterference.svg
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/GPSFact.json
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.cc
  src/Vehicle/FactGroups/VehicleGPS2FactGroup.h
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.h
  src/Vehicle/FactGroups/VehicleGPSFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSFactGroup.h
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: qmllint, check-no-qassert

fix(ci): Fix Build Results PR comments for fork PRs (#13875)
  .github/actions/download-all-artifacts/action.yml
  .github/workflows/build-results.yml
Due: none
