Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

ci(android): use sdk-managed NDK path in GitHub Actions
  .github/actions/qt-android/action.yml
  .github/workflows/android.yml
Due: none

Enable antialiasing on CompassDial tick marks (#13964)
  src/FlightMap/Widgets/CompassDial.qml
Due: qmllint

Fix ccache env override regression
  cmake/Helpers.cmake
  tools/README.md
Due: none

Fix QGCPopupDialog usage pattern such that it closes when owner is gone
  src/AutoPilotPlugins/APM/APMPowerComponent.qml
  src/AutoPilotPlugins/APM/APMSensorsComponent.qml
  src/AutoPilotPlugins/APM/APMSubFrameComponent.qml
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/AutoPilotPlugins/PX4/PowerComponent.qml
  src/AutoPilotPlugins/PX4/SensorsSetup.qml
  src/FactSystem/FactControls/FactTextField.qml
  src/FactSystem/FactControls/FactValueSlider.qml
  src/FlightMap/FlightMap.qml
  src/FlightMap/MapItems/QGCMapPolygonVisuals.qml
  src/FlightMap/MapItems/QGCMapPolylineVisuals.qml
  src/FlightMap/Widgets/PhotoVideoControl.qml
  src/FlyView/FlyViewMap.qml
  src/FlyView/FlyViewMissionCompleteDialog.qml
  src/QmlControls/AppLogging.qml
  src/QmlControls/CMakeLists.txt
  src/QmlControls/HorizontalFactValueGrid.qml
  src/QmlControls/InstrumentValueEditDialog.qml
  src/QmlControls/MainStatusIndicator.qml
  src/QmlControls/MissionItemEditor.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/OfflineMapEditor.qml
  src/QmlControls/ParameterEditor.qml
  src/QmlControls/ParameterEditorDialog.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/QGCFileDialog.qml
  src/QmlControls/QGCPopupDialog.qml
  src/QmlControls/QGCPopupDialogFactory.qml
  src/QmlControls/TransectStyleComplexItemEditor.qml
  src/QmlControls/TransectStyleComplexItemTerrainFollow.qml
  src/QmlControls/VehicleMessageList.qml
  src/UI/AppSettings/LinkSettings.qml
  src/UI/AppSettings/MapSettings.qml
  src/UI/MainWindow.qml
  src/Vehicle/VehicleSetup/FirmwareUpgrade.qml
Due: qmllint

Fix showMessageDialog usage to add owner for correct destruction
  custom-example/src/CustomGuidedActionsController.qml
  src/AnalyzeView/LogDownloadPage.qml
  src/AutoPilotPlugins/APM/APMSensorsComponent.qml
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/AutoPilotPlugins/Common/ScriptingComponent.qml
  src/AutoPilotPlugins/PX4/AirframeComponent.qml
  src/AutoPilotPlugins/PX4/PowerComponent.qml
  src/QmlControls/AutotuneUI.qml
  src/QmlControls/LogReplayStatusBar.qml
  src/QmlControls/MissionItemEditor.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/ParameterEditor.qml
  src/QmlControls/PlanToolBarIndicators.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/UI/AppSettings/BluetoothSettings.qml
  src/UI/AppSettings/LinkSettings.qml
  src/UI/MainWindow.qml
  src/UI/toolbar/GimbalIndicator.qml
  src/Vehicle/VehicleSetup/FirmwareUpgrade.qml
  src/Vehicle/VehicleSetup/JoystickComponent.qml
  src/Vehicle/VehicleSetup/RemoteControlCalibration.qml
Due: qmllint, check-no-qassert

ci: fix workflow bugs, security issues, and silent failures
  .github/actions/aws-upload/action.yml
  .github/actions/cmake-configure/action.yml
  .github/scripts/benchmark_runner.py
  .github/workflows/analysis.yml
  .github/workflows/android.yml
  .github/workflows/build-results.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/performance.yml
  .github/workflows/windows.yml
Due: none

feat: Add HTTP MJPEG and WebSocket video streaming support
  cmake/find-modules/FindGStreamer.cmake
  src/Settings/Video.SettingsGroup.json
  src/Settings/VideoSettings.cc
  src/Settings/VideoSettings.h
  src/UI/AppSettings/VideoSettings.qml
  src/VideoManager/VideoManager.cc
  src/VideoManager/VideoReceiver/GStreamer/CMakeLists.txt
  src/VideoManager/VideoReceiver/GStreamer/GstVideoReceiver.cc
  src/VideoManager/VideoReceiver/GStreamer/GstVideoReceiver.h
  src/VideoManager/VideoReceiver/GStreamer/QGCWebSocketVideoSource.cc
  src/VideoManager/VideoReceiver/GStreamer/QGCWebSocketVideoSource.h
  test/VideoStreaming/README.md
  test/VideoStreaming/http_mjpeg_server.py
  test/VideoStreaming/requirements.txt
  test/VideoStreaming/websocket_video_server.py
Due: qmllint, check-no-qassert

fix(cmake): resolve GStreamer::App imported target scope issue
  cmake/find-modules/FindGStreamer.cmake
  src/VideoManager/VideoReceiver/GStreamer/CMakeLists.txt
Due: none

Check for failed creation of component
  src/QmlControls/QGCPopupDialogFactory.qml
Due: qmllint

Fix shadowing compiler warning
  custom-example/src/CustomPlugin.cc
Due: check-no-qassert

Add missing cases of _rawValueIsNotSet update
  src/FactSystem/Fact.cc
  src/FactSystem/SettingsFact.cc
Due: check-no-qassert

Main Status Indicator: Allow display without parameters
  src/QmlControls/MainStatusIndicator.qml
  src/QmlControls/ToolIndicatorPage.qml
  src/UI/MainWindow.qml
Due: qmllint

fix(ci): harden Geo dependency install and cross sqlite fallback
  src/Utilities/Compression/CMakeLists.txt
  src/Utilities/Geo/CMakeLists.txt
Due: none

fix(ci): stop dep install writes and harden sqlite wrapper
  src/Utilities/Compression/CMakeLists.txt
  src/Utilities/Geo/CMakeLists.txt
Due: none

fix(ci): harden AppImage packaging on arm runners
  cmake/install/CreateAppImage.cmake
Due: none

fix(ci): add Android gstreamer download fallback URLs
  cmake/find-modules/FindGStreamer.cmake
Due: none

fix(android): package SDL shared lib and stabilize emulator smoke test
  .github/scripts/android_boot_test.py
  .github/workflows/android.yml
  src/Utilities/SDL/CMakeLists.txt
Due: none

fix(ci): skip GeographicLib install rules in bundled build
  src/Utilities/Geo/CMakeLists.txt
Due: none

fix(ci): unblock linux and docker geo workflow failures
  deploy/docker/entrypoint.sh
  src/Utilities/Geo/CMakeLists.txt
  test/Utilities/Geo/GeoUtilitiesTest.cc
Due: none

Fix NTRIP crash on HTTP 4xx/5xx and duplicate connection on startup
  src/GPS/NTRIP.cc
Due: check-no-qassert

Remove license header from NTRIP.cc
  src/GPS/NTRIP.cc
Due: check-no-qassert

Remove superfluous `this`
  src/GPS/NTRIP.cc
Due: check-no-qassert

fix bug
  src/QmlControls/ParameterEditorController.cc
Due: check-no-qassert

increment _resetNestingCount before call to beginResetModel()
  src/QmlControls/ParameterEditorController.cc
Due: check-no-qassert

fix: parameter search not updating when "Show modified only" is active
  src/QmlControls/ParameterEditorController.cc
  src/QmlControls/ParameterEditorController.h
Due: check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
