Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)

style: Replace header guards with #pragma once
  src/Android/qtandroidserialport/qserialport.h
  src/Android/qtandroidserialport/qserialport_p.h
  src/Android/qtandroidserialport/qserialportglobal.h
  src/Android/qtandroidserialport/qserialportinfo.h
  src/Android/qtandroidserialport/qserialportinfo_p.h
  src/Android/qtandroidserialport/qtserialportexports.h
  src/Android/qtandroidserialport/qtserialportversion.h
  src/FirmwarePlugin/PX4/px4_custom_mode.h
Due: check-no-qassert

Camera Section: Displays for ArduPilot firmware
  src/QmlControls/FWLandingPatternEditor.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/VTOLLandingPatternEditor.qml
Due: qmllint

Rework `Apply New Default Altitude` support
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanView.qml
Due: qmllint

Vehicle Summary: Minor wording changes
  src/Vehicle/VehicleSetup/VehicleSummary.qml
Due: qmllint

Remove unused code
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionController.h
  src/QmlControls/PlanView.qml
Due: qmllint, check-no-qassert

New translations qgc.ts (Ukrainian)
  translations/qgc_source_uk_UA.ts
Due: none

Update ArduPilot Mocklink vehicles to latest 4.6.3 stables
  src/Comms/MockLink/MockLink.cc
  src/FirmwarePlugin/APM/Copter.OfflineEditing.params
  src/FirmwarePlugin/APM/Plane.OfflineEditing.params
  src/FirmwarePlugin/APM/Rover.OfflineEditing.params
  src/FirmwarePlugin/APM/Sub.OfflineEditing.params
Due: check-no-qassert

Update ArduPilot Camera component to new parameters
  qgcresources.qrc
  resources/CameraGimbal.png
  src/AutoPilotPlugins/APM/APMAutoPilotPlugin.cc
  src/AutoPilotPlugins/APM/APMAutoPilotPlugin.h
  src/AutoPilotPlugins/APM/APMCameraComponent.cc
  src/AutoPilotPlugins/APM/APMCameraComponent.qml
  src/AutoPilotPlugins/APM/APMCameraComponentSummary.qml
  src/AutoPilotPlugins/APM/APMCameraSubComponent.qml
  src/AutoPilotPlugins/APM/APMGimbalComponent.cc
  src/AutoPilotPlugins/APM/APMGimbalComponent.h
  src/AutoPilotPlugins/APM/APMGimbalComponent.qml
  src/AutoPilotPlugins/APM/APMGimbalInstance.qml
  src/AutoPilotPlugins/APM/APMGimbalParams.qml
  src/AutoPilotPlugins/APM/CMakeLists.txt
  src/AutoPilotPlugins/VehicleComponent.h
  src/FirmwarePlugin/APM/APMParameterMetaData.cc
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint, check-no-qassert

ArduPilot Gimbal: Update some old naming from camera
  src/AutoPilotPlugins/APM/APMGimbalComponent.qml
Due: qmllint

Vagrant: use Ubuntu Questing for base image
  deploy/vagrant/Vagrantfile
Due: none

fix typo
  custom/override/qml/MainWindow.qml
  custom/src/OnboardComputers/OnboardComputersManager.cpp
Due: qmllint, check-no-qassert

movede shortcut box to right side and add fade out
  custom/override/qml/QGroundControl/FlightDisplay/FlyViewCustomLayer.qml
Due: qmllint

New translations qgc.ts (Chinese Simplified)
  translations/qgc_source_zh_CN.ts
Due: none

RemoteID: Fix EU operator ID validation never running
  src/UI/AppSettings/RemoteIDSettings.qml
Due: qmllint

Adjust spacing to latest coding style guidelines
  src/MissionManager/TakeoffMissionItem.cc
  src/MissionManager/TakeoffMissionItem.h
Due: check-no-qassert

Make methods private
  src/MissionManager/TakeoffMissionItem.cc
  src/MissionManager/TakeoffMissionItem.h
Due: check-no-qassert

Don't recalcAll on launch position change
  src/MissionManager/MissionController.cc
Due: check-no-qassert

ArduPilot: Add support for Scripting component
  qgcresources.qrc
  resources/Download.svg
  resources/Upload.svg
  src/AutoPilotPlugins/APM/APMAutoPilotPlugin.cc
  src/AutoPilotPlugins/APM/APMAutoPilotPlugin.h
  src/AutoPilotPlugins/Common/CMakeLists.txt
  src/AutoPilotPlugins/Common/ScriptingComponent.cc
  src/AutoPilotPlugins/Common/ScriptingComponent.h
  src/AutoPilotPlugins/Common/ScriptingComponent.qml
  src/Comms/MockLink/MockLinkFTP.cc
  src/Comms/MockLink/MockLinkFTP.h
  src/MAVLink/MAVLinkFTP.h
  src/Vehicle/CMakeLists.txt
  src/Vehicle/FTPController.cc
  src/Vehicle/FTPController.h
  src/Vehicle/FTPManager.cc
  src/Vehicle/FTPManager.h
  src/main.cc
  test/Vehicle/FTPManagerTest.cc
  test/Vehicle/FTPManagerTest.h
Due: qmllint, check-no-qassert

cmake: Fix ccache config compatibility with IDEs
  tools/ccache.conf
Due: none

cmake: Overhaul presets with inheritance and streamlined configs
  CMakePresets.json.template
  cmake/presets/Android.json
  cmake/presets/Linux.json
  cmake/presets/Windows.json
  cmake/presets/common.json
  cmake/presets/iOS.json
  cmake/presets/macOS.json
Due: none

cmake: Add usage comment to presets template
  CMakePresets.json.template
Due: none

Update GeographicLib and expand QGCGeo geodesic utilities
  src/Terrain/TerrainTileManager.cc
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Geo/QGCGeo.cc
  src/Utilities/Geo/QGCGeo.h
  src/Utilities/Geo/geographiclib.patch
  test/Utilities/Geo/GeoTest.cc
  test/Utilities/Geo/GeoTest.h
Due: check-no-qassert

ULogParser: Add streamed parsing for lower memory usage
  src/AnalyzeView/CMakeLists.txt
  src/AnalyzeView/GeoTagWorker.cc
  src/AnalyzeView/ULogParser.cc
  src/AnalyzeView/ULogParser.h
  test/AnalyzeView/CMakeLists.txt
  test/AnalyzeView/ULogParserTest.cc
  test/AnalyzeView/ULogParserTest.h
  test/CMakeLists.txt
  test/UnitTestList.cc
Due: check-no-qassert

Branding: replace icons with garudxgcs images
  deploy/windows/WindowsQGC.ico
  resources/icons/android_512x512.png
  resources/icons/android_dev_512x512.png
  resources/icons/qgroundcontrol.ico
  resources/icons/qgroundcontrol.png
Due: none

Fxied PX4 GPS library compatibility issue for android
  src/GPS/GPSProvider.cc
Due: check-no-qassert

NEW COMMIT
  .clangd
  .cmake_configure_output
  .github/workflows/windows-build.yml
  .tmp_patch_marker
  CMakePresets.windows.json
  GarudX_Logo_Icon_Light.png
  RELEASES/WINDOWS_README.md
  android/AndroidManifest.xml
  android/build.gradle
  android/src/org/mavlink/garudxgcs/QGCActivity.java
  android/src/org/mavlink/garudxgcs/QGCLogger.java
  android/src/org/mavlink/garudxgcs/QGCProber.java
  android/src/org/mavlink/garudxgcs/QGCUsbId.java
  android/src/org/mavlink/garudxgcs/QGCUsbSerialManager.java
  cmake/CustomOptions.cmake
  src/QmlControls/QGCPalette.cc
  src/QmlControls/ScreenToolsController.cc
  tmp_icon/icon_128.png
  tmp_icon/icon_16.png
  tmp_icon/icon_256.png
  tmp_icon/icon_32.png
  tmp_icon/icon_48.png
Due: check-no-qassert
