Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

Disable font bundling step temporarily to test core Windows build
  .github/workflows/linux-appimage.yml
  .github/workflows/macos-dmg.yml
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
  tools/packaging/garudxgcs_installer.nsi
Due: none

Simplify windeployqt step to fix build
  .github/workflows/windows-build.yml
Due: none

ci: force Python 3.10 for all build steps in NSIS workflow
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): robust Python 3.10 + Qt 6.10.1 build, remove all legacy setup, future-proof
  .github/workflows/windows-build.yml
Due: none

ci(windows): always use latest aqtinstall for Qt 6.10.1 support
  .github/workflows/windows-build.yml
Due: none

ULogParser: Add streamed parsing for lower memory usage
  src/AnalyzeView/CMakeLists.txt
  src/AnalyzeView/GeoTagWorker.cc
  src/AnalyzeView/ULogParser.cc
  src/AnalyzeView/ULogParser.h
  test/AnalyzeView/CMakeLists.txt
  test/AnalyzeView/ULogParserTest.cc
  test/AnalyzeView/ULogParserTest.h
  test/CMakeLists.txt
  test/UnitTestList.cc
Due: check-no-qassert

Update GeographicLib and expand QGCGeo geodesic utilities
  src/Terrain/TerrainTileManager.cc
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Geo/QGCGeo.cc
  src/Utilities/Geo/QGCGeo.h
  src/Utilities/Geo/geographiclib.patch
  test/Utilities/Geo/GeoTest.cc
  test/Utilities/Geo/GeoTest.h
Due: check-no-qassert

Update Shapelib to 1.6.2 and enhance SHP/Shape file handling
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Geo/SHPFileHelper.cc
  src/Utilities/Geo/SHPFileHelper.h
  src/Utilities/Geo/ShapeFileHelper.cc
  src/Utilities/Geo/ShapeFileHelper.h
  test/Utilities/Geo/ShapeTest.cc
  test/Utilities/Geo/ShapeTest.h
Due: check-no-qassert

feat(video): update video handling and UI improvements
  boot_log.txt
  cmake/install/CreateWinInstaller.cmake
  cmake/install/Install.cmake
  resources/ig-gcs-fly.svg
  src/FlightDisplay/FlightDisplayViewVideo.qml
  src/FlightDisplay/QGCVideoBackground.qml
  src/QGCApplication.cc
  src/QmlControls/MainStatusIndicator.qml
  src/UI/AppSettings/LinkSettings.qml
  src/UI/AppSettings/SettingsPagesModel.qml
  src/UI/MainWindow.qml
  src/VideoManager/VideoManager.cc
  src/VideoManager/VideoReceiver/GStreamer/GStreamer.cc
  src/VideoManager/VideoReceiver/GStreamer/gstqml6gl/CMakeLists.txt
  src/main.cc
  stderr.txt
  stdout.txt
Due: qmllint, check-no-qassert

windows_release.yml: fix broken workflow, use jom 1.1.4 instead of 1.1.3
  .github/workflows/windows_release.yml
Due: none

Upgraded Qt, fixed mismatches
  custom/README.md
  custom/res/Custom/ObjectTrackingDashboard.qml
  custom/src/CustomPlugin.cc
  custom/src/CustomPlugin.h
Due: qmllint, check-no-qassert

ci(windows): fix Qt 6.8.0, add missing modules (sensors, svg, speech, statemachine, connectivity), add submodules checkout
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): fix Qt 6.8.3 with msvc2022_64 architecture
  .github/workflows/macos-dmg.yml
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): fix PowerShell Split-Path syntax
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): remove PATH override that breaks cmake detection
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

cmake: strip version suffix (e.g., -test) for CMake project VERSION
  cmake/modules/Git.cmake
Due: none

ci(windows): use Qt 6.10.2 to meet project minimum version requirement
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

build: update qt_version to 6.10.2 in build-config.json
  .github/build-config.json
Due: none

ci(windows): force CMake to use Python 3.10 with proper hints
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): add GStreamer installation for video streaming support
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

ci(windows): fix QtQuick3D plugin not found error
  .github/workflows/windows-build.yml
  .github/workflows/windows-nsis.yml
Due: none

Futuristic Neon Dark Theme + Custom Logo + Bug Fix
  resources/QGCLogoArrow.svg
  resources/QGCLogoBlack.svg
  resources/QGCLogoFull.svg
  resources/QGCLogoWhite.svg
  src/QmlControls/QGCPalette.cc
  src/VideoManager/VideoReceiver/QtMultimedia/UVCReceiver.cc
Due: check-no-qassert

Fix crash when downloading map tiles with invalid/empty URLs
  src/QtLocationPlugin/QGCCachedTileSet.cpp
  src/QtLocationPlugin/QGeoMapReplyQGC.cpp
  src/QtLocationPlugin/QGeoTileFetcherQGC.cpp
Due: check-no-qassert

Vehicle Profiles WIP
  src/Vehicle/CMakeLists.txt
  src/Vehicle/VehicleProfile.cc
  src/Vehicle/VehicleProfile.h
Due: check-no-qassert

Fix map tile crash: null pointer when provider not found
  src/QtLocationPlugin/QGCCachedTileSet.cpp
  src/QtLocationPlugin/QGeoMapReplyQGC.cpp
Due: check-no-qassert

Android build: Custom icons + simplified workflow for GarudX GCS
  .github/workflows/android.yml
  android/res/drawable-hdpi/icon.png
  android/res/drawable-ldpi/icon.png
  android/res/drawable-mdpi/icon.png
  android/res/drawable-xhdpi/icon.png
  android/res/drawable-xxhdpi/icon.png
  android/res/drawable-xxxhdpi/icon.png
Due: none

Fix Android APK signing: Add keystore and configure signing
  .github/workflows/android.yml
  deploy/android/garudx_release.keystore
Due: none

Android signing: Use GARUDXKEYSTORE with secret password
  .github/workflows/android.yml
  deploy/android/garudx_release.keystore
Due: none

Android signing: Use garudxkeystore with secret password
  .github/workflows/android.yml
Due: none

Fix: Add qthttpserver to Qt modules (required by upstream)
  .github/build-config.json
Due: none

Fix: Add qtwebsockets (required by qthttpserver)
  .github/build-config.json
Due: none

Fix JNI class names for garudxgcs package
  src/Android/AndroidInterface.h
  src/Android/AndroidSerial.h
  src/Joystick/JoystickAndroid.cc
Due: check-no-qassert

Add skipping for parameter and mission download
  src/FactSystem/ParameterManager.cc
  src/FactSystem/ParameterManager.h
  src/MissionManager/PlanManager.cc
  src/MissionManager/PlanManager.h
  src/QmlControls/FlyViewToolBar.qml
  src/Settings/App.SettingsGroup.json
  src/Settings/AppSettings.cc
  src/Settings/AppSettings.h
  src/UI/AppSettings/TelemetrySettings.qml
  src/Vehicle/InitialConnectStateMachine.cc
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
  test/FactSystem/ParameterManagerTest.cc
  test/FactSystem/ParameterManagerTest.h
  test/MissionManager/MissionManagerTest.cc
  test/MissionManager/MissionManagerTest.h
Due: qmllint, check-no-qassert

Fix unittest
  test/FactSystem/ParameterManagerTest.cc
Due: none

Fix test
  test/FactSystem/ParameterManagerTest.cc
Due: none

fix(compression): Replace zlib-ng with original zlib to fix PNG iCCP segfault
  src/Utilities/Compression/CMakeLists.txt
Due: none

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
