Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-fact-metadata, check-no-qassert

.pre-commit-config.yaml:

# QGroundControl Pre-Commit Configuration
# Install: pre-commit install
# Run: pre-commit run --all-files
# Update: pre-commit autoupdate

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
      - id: check-json
      - id: check-xml
        exclude: ^test/
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^translations/
      - id: end-of-file-fixer
        exclude: ^(translations/.*\.ts|.*\.(png|jpg|jpeg|gif|svg|ico|bin|dat))$
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: \.(bat|ps1)$

  # C++ formatting (commented out - uncomment to enable)
  # - repo: https://github.com/pre-commit/mirrors-clang-format
  #   rev: v19.1.7
  #   hooks:
  #     - id: clang-format
  #       types_or: [c++, c]
  #       args: ['-i']
  #       exclude: ^build/

  # Python formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Don't warn about not following sourced files

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 200}, document-start: disable, truthy: {check-keys: false}, comments: {min-spaces-from-content: 1}}}']

  # QGC-specific checks
  - repo: local
    hooks:
      - id: qmllint
        name: Lint QML files
        entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@" || true; else echo "qmllint not found - skipping QML linting (install qt6-declarative-dev-tools or Qt SDK)"; fi' --
        language: system
        files: \.qml$
        exclude: ^build/
        pass_filenames: true

      - id: check-fact-metadata
        name: Validate Fact metadata JSON
        entry: python3
        language: system
        files: '\.FactMetaData\.json$|\.SettingsGroup\.json$'
        pass_filenames: true
        args:
          - -c
          - |
            import sys, json
            for f in sys.argv[1:]:
                try:
                    with open(f) as fp:
                        json.load(fp)
                except Exception as e:
                    print(f"Invalid JSON in {f}: {e}")
                    sys.exit(1)

      - id: check-no-qassert
        name: Check for Q_ASSERT in production code
        entry: bash
        language: system
        files: \.(h|cc|cpp)$
        exclude: ^(test/|UnitTest\.h|UnitTest\.cc)
        pass_filenames: false
        args:
          - -c
          - |
            FILES=$(git diff --cached --name-only --diff-filter=d | grep -E '\.(h|cc|cpp)$' | grep -v '^test/' || true)
            if [ -n "$FILES" ]; then
              if echo "$FILES" | xargs grep -n 'Q_ASSERT' 2>/dev/null; then
                echo "Warning: Q_ASSERT found in production code. Consider using defensive checks with early returns."
              fi
            fi

exclude: ^build/

Improve CI workflows, pre-commit hooks, and build tooling
  .cmake-format
  .cmake-format.yaml
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/ci.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/actions/cache/action.yml
  .github/actions/qt-android/action.yml
  .github/actions/qt-install/action.yml
  .github/labeler.yml
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/lupdate.yml
  .github/workflows/macos.yml
  .github/workflows/pre-commit.yml
  .github/workflows/repo-stats.yml
  .github/workflows/scorecard.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  Makefile
  justfile
  tools/setup/install-dependencies-macos.sh
Due: none

Update qt6.natvis with improved Qt6 visualizers
  tools/qt6.natvis
Due: none

Add ruff Python linter config and fix all Python files
  resources/InstrumentValueIcons/UpdateResourceFile.py
  ruff.toml
  test/ADSB/ADSB_Simulator.py
  tools/check-sizes.py
  tools/log-analyzer/analyze_log.py
  tools/mock-mavlink/mock_vehicle.py
  tools/param-docs.py
  tools/translations/qgc-lupdate-json.py
  tools/update-headers.py
Due: none

Add CMake presets and reorganize coding style examples
  CMakePresets.json.template
  cmake/modules/Coverage.cmake
  cmake/presets/Linux.json
  cmake/presets/common.json
  tools/coding-style/CodingStyle.cc
  tools/coding-style/CodingStyle.h
  tools/coding-style/CodingStyle.qml
Due: qmllint, check-no-qassert

ci: Fix fork PR attestation, Docker pip, and SITL typo
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  .typos.toml
  README.md
  deploy/docker/Dockerfile-build-android
Due: none

Add 12 new CI/CD workflows
  .github/workflows/auto-merge.yml
  .github/workflows/build-summary.yml
  .github/workflows/check-links.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/repo-stats.yml
  .github/workflows/scorecard.yml
  .github/workflows/size-check.yml
  .github/workflows/welcome.yml
Due: none

ci: Fix Docker Android build and pre-commit formatting
  .devcontainer/devcontainer.json
  .github/build-config.json
  .github/renovate.json
  .markdownlint.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  deploy/docker/Dockerfile-build-android
  package.json
  pyrightconfig.json
  src/MissionManager/GeoFenceController.h
  src/MissionManager/SurveyComplexItem.cc
  src/Vehicle/Vehicle.h
  tools/coding-style/CodingStyle.cc
  tools/coding-style/CodingStyle.h
  tools/setup/install-qt-debian.sh
Due: check-no-qassert

Enhance CI tooling with actions, linting, and step summaries
  .github/actions/aws-upload/action.yml
  .github/actions/coverage/action.yml
  .github/actions/upload/action.yml
  .github/workflows/android.yml
  .github/workflows/check-links.yml
  .github/workflows/linux.yml
  .github/workflows/lupdate.yml
  .gitignore
  .markdownlint.json
  .pre-commit-config.yaml
  .vale.ini
  deploy/docker/Dockerfile-build-android
  tools/translations/qgc-lupdate.sh
Due: none

Improve tools: fixes, reorganization, and new utilities
  .github/codeql/codeql-config.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/crowdin_docs_download.yml
  .github/workflows/crowdin_docs_upload.yml
  .github/workflows/release.yml
  .github/workflows/secret-scan.yml
  .github/workflows/stale.yml
  tools/HeaderUpdater.py
  tools/ccache.conf
  tools/check-deps.sh
  tools/check-sizes.py
  tools/coding-style/README.md
  tools/common.sh
  tools/debuggers/gdb-pretty-printers/README.md
  tools/debuggers/gdb-pretty-printers/qt6.py
  tools/debuggers/profile.sh
  tools/debuggers/qt6.natvis
  tools/debuggers/valgrind.supp
  tools/format-check.sh
  tools/mock-mavlink/mock_vehicle.py
  tools/setup/install-dependencies-macos.sh
  tools/update-headers.py
Due: none

Add Makefile and justfile for common development commands
  Makefile
  justfile
Due: none

ci: Fix fork PR attestation, Docker pip, and SITL typo
  .github/workflows/docker.yml
Due: none

ci: Fix Docker builds, improve security, add devcontainer
  .devcontainer/devcontainer.json
  .github/build-config.json
  .github/renovate.json
  .github/workflows/android.yml
  .github/workflows/docker.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/pr-size.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  deploy/docker/Dockerfile-build-ubuntu
Due: none

ci: Fix dependency review for fork PRs
  .github/workflows/dependency-review.yml
Due: none

Add CI composite actions and CodeQL configuration
  .github/actions/install-dependencies/action.yml
  .github/actions/qt-install/action.yml
  .github/codeql/codeql-config.yml
Due: none

Add PR workflows, coverage comments, and refactor Docker builds
  .github/actions/coverage-comment/action.yml
  .github/actions/docker/action.yml
  .github/workflows/coverage-comment.yml
  .github/workflows/docker.yml
  .github/workflows/pr-size.yml
  .github/workflows/pr-title.yml
  .github/workflows/size-check.yml
  deploy/docker/Dockerfile-build-android
  deploy/docker/Dockerfile-build-ubuntu
  deploy/docker/docker-run.sh
  deploy/docker/entrypoint.sh
  deploy/docker/run-docker-android.sh
  deploy/docker/run-docker-ubuntu.sh
Due: none

ci: Fix Docker Android Qt arch and revert unintended changes
  deploy/docker/Dockerfile-build-android
  docs/en/qgc-user-guide/releases/daily_builds.md
  docs/ko/qgc-dev-guide/getting_started/index.md
  docs/tr/qgc-dev-guide/getting_started/index.md
  docs/zh/qgc-dev-guide/getting_started/index.md
  src/MissionManager/GeoFenceController.h
  src/MissionManager/SurveyComplexItem.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

Improve ccache config, documentation, and issue templates
  .dockerignore
  .github/CITATION.cff
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/actions/install-dependencies/action.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/renovate.json
  .github/workflows/coverage.yml
  .github/workflows/secret-scan.yml
  .gitignore
  .typos.toml
  .vscode/tasks.json
  Makefile
  cmake/Helpers.cmake
  cmake/presets/common.json
  docs/en/qgc-dev-guide/contribute/coding_style.md
  docs/en/qgc-dev-guide/getting_started/index.md
  docs/ko/qgc-dev-guide/getting_started/index.md
  docs/tr/qgc-dev-guide/getting_started/index.md
  docs/zh/qgc-dev-guide/getting_started/index.md
  tools/README.md
  tools/ccache.conf
  tools/setup/install-dependencies-macos.sh
Due: none

Clean up outdated files and reorganize codecov config
  .github/codecov.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  tools/reference/GStreamer/mac-osx.md
  tools/reference/GStreamer/multiplatform-using-cerbero.md
  tools/reference/GStreamer/windows.md
Due: none

Simplify workflows, migrate to qt-install action
  .github/actions/qt-install/action.yml
  .github/workflows/auto-merge.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/lupdate.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/repo-stats.yml
  .github/workflows/secret-scan.yml
  .github/workflows/windows.yml
Due: none

ci: Add input validation to prevent injection vulnerabilities
  .github/actions/docker/action.yml
  .github/actions/install-dependencies/action.yml
  deploy/docker/docker-run.sh
  deploy/docker/entrypoint.sh
Due: none

ci: Fix Docker Android Qt host path for aqtinstall
  deploy/docker/Dockerfile-build-android
Due: none

ci: Merge PR title and size workflows into pr-checks.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-title.yml
Due: none

ci: Merge labeler into pr-checks workflow
  .github/workflows/labeler.yml
  .github/workflows/pr-checks.yml
Due: none

ci: Make pre-commit check non-fatal
  .github/workflows/pre-commit.yml
Due: none

Plan: Major rework of toolbar
  src/API/QGCOptions.h
  src/MissionManager/GeoFenceController.cc
  src/MissionManager/GeoFenceController.h
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionSettingsItem.h
  src/MissionManager/PlanElementController.h
  src/MissionManager/PlanMasterController.cc
  src/MissionManager/PlanMasterController.h
  src/MissionManager/RallyPointController.cc
  src/MissionManager/RallyPointController.h
  src/QmlControls/PlanToolBarIndicators.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/PlanViewRightPanel.qml
  src/QmlControls/PlanViewToolBar.qml
Due: qmllint, check-no-qassert

ci: Make pre-commit report-only, revert auto-formatted files
  .github/workflows/docker.yml
  .pre-commit-config.yaml
  docs/en/qgc-dev-guide/contribute/coding_style.md
  docs/en/qgc-dev-guide/contribute/pull_requests.md
  docs/en/qgc-dev-guide/contribute/unit_tests.md
  docs/en/qgc-dev-guide/custom_build/fork_repo.md
  docs/en/qgc-dev-guide/custom_build/mavlink.md
  docs/en/qgc-dev-guide/custom_build/release_branching_process.md
  docs/en/qgc-dev-guide/custom_build/resource_override.md
  docs/en/qgc-dev-guide/file_formats/parameters.md
  docs/en/qgc-dev-guide/getting_started/container.md
  docs/en/qgc-dev-guide/getting_started/index.md
  docs/en/qgc-dev-guide/navigating_source.md
  docs/en/qgc-dev-guide/plan/mission_command_tree.md
  docs/en/qgc-user-guide/custom_actions/custom_actions.md
  docs/en/qgc-user-guide/fly_view/fly_tools.md
  docs/en/qgc-user-guide/fly_view/fly_view_toolbar.md
  docs/en/qgc-user-guide/fly_view/hud.md
  docs/en/qgc-user-guide/fly_view/instrument_panel.md
  docs/en/qgc-user-guide/getting_started/download_and_install.md
  docs/en/qgc-user-guide/releases/daily_build_new_features.md
  docs/en/qgc-user-guide/releases/daily_builds.md
  docs/en/qgc-user-guide/releases/privacy_policy.md
  docs/en/qgc-user-guide/releases/release_note_stable_v3.md
  docs/en/qgc-user-guide/setup_view/flight_modes.md
  docs/en/qgc-user-guide/setup_view/joystick.md
  docs/en/qgc-user-guide/support/support.md
  docs/en/qgc-user-guide/troubleshooting/resume_mission.md
  docs/en/qgc-user-guide/troubleshooting/vehicle_connection.md
  docs/en/qgc-user-guide/viewer_3d/viewer_3d.md
  package.json
Due: none

ci: Optimize Docker Android build - ARMv8 only, faster disk cleanup
  .github/workflows/docker.yml
  deploy/docker/entrypoint.sh
Due: none

Added new svg icons for plan view toolbar
  qgcresources.qrc
  resources/SaveToDisk.svg
  resources/TrashCan.svg
  resources/UploadToVehicle.svg
Due: none

Fix flickable height which was causing scroll bar to show incorrectly
  src/QmlControls/ToolStrip.qml
Due: qmllint

Fix icon display
  src/QmlControls/QGCButton.qml
Due: qmllint

Reworked Plan toolbar
  src/QmlControls/PlanToolBarIndicators.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/PlanViewRightPanel.qml
Due: qmllint

ci: Optimize Docker Android build - ARMv8 only, add SITL test script
  .github/workflows/docker.yml
  deploy/docker/Dockerfile-build-android
  deploy/docker/entrypoint.sh
  tools/run-arducopter-sitl.sh
Due: none

fix for PR #13612
  src/Camera/QGCCameraManager.cc
  src/Camera/QGCCameraManager.h
  src/Gimbal/GimbalController.h
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint, check-no-qassert

Fix formatting (trailing whitespace, newline at EOF)
  src/Gimbal/Gimbal.h
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint, check-no-qassert

Revert "Fix bug associated with value type null validation"
  src/Utilities/JsonHelper.cc
Due: check-no-qassert
