Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

Build: Optimize GStreamer plugin installation to reduce package size
  cmake/GStreamerConfig.cmake
  cmake/find-modules/FindGStreamer.cmake
  src/VideoManager/VideoReceiver/GStreamer/CMakeLists.txt
Due: none

Add XSD-driven KML validation and enhance shape file handling
  src/MissionManager/KMLPlanDomDocument.cc
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Geo/KMLDomDocument.cc
  src/Utilities/Geo/KMLDomDocument.h
  src/Utilities/Geo/KMLHelper.cc
  src/Utilities/Geo/KMLHelper.h
  src/Utilities/Geo/KMLSchemaValidator.cc
  src/Utilities/Geo/KMLSchemaValidator.h
  src/Utilities/Geo/QGCGeo.cc
  src/Utilities/Geo/QGCGeo.h
  src/Utilities/Geo/SHPFileHelper.cc
  src/Utilities/Geo/ShapeFileHelper.cc
  src/Utilities/Geo/ShapeFileHelper.h
  src/Utilities/Geo/ogckml22.xsd
  test/Utilities/Geo/GeoTest.cc
  test/Utilities/Geo/ShapeTest.cc
  test/Utilities/Geo/ShapeTest.h
Due: check-no-qassert

Update GeographicLib, Shapelib, and enhance Geo utilities (#13846)
  src/MissionManager/KMLPlanDomDocument.cc
  src/Terrain/TerrainTileManager.cc
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Geo/KMLDomDocument.cc
  src/Utilities/Geo/KMLDomDocument.h
  src/Utilities/Geo/KMLHelper.cc
  src/Utilities/Geo/KMLHelper.h
  src/Utilities/Geo/KMLSchemaValidator.cc
  src/Utilities/Geo/KMLSchemaValidator.h
  src/Utilities/Geo/QGCGeo.cc
  src/Utilities/Geo/QGCGeo.h
  src/Utilities/Geo/SHPFileHelper.cc
  src/Utilities/Geo/SHPFileHelper.h
  src/Utilities/Geo/ShapeFileHelper.cc
  src/Utilities/Geo/ShapeFileHelper.h
  src/Utilities/Geo/geographiclib.patch
  src/Utilities/Geo/ogckml22.xsd
  test/Utilities/Geo/GeoTest.cc
  test/Utilities/Geo/GeoTest.h
  test/Utilities/Geo/ShapeTest.cc
  test/Utilities/Geo/ShapeTest.h
Due: check-no-qassert

fix(ci): Fix artifact size reporting to use GitHub API
  .github/actions/collect-artifact-sizes/action.yml
  .github/scripts/check-sizes.py
  .github/workflows/build-results.yml
  tools/README.md
Due: none

Handles USB disconnect by closing port on resource error
  src/Comms/SerialLink.cc
Due: check-no-qassert

feat(Compression): Make BZip2 and LZ4 optional dependencies
  cmake/CustomOptions.cmake
  src/Utilities/Compression/CMakeLists.txt
  test/Utilities/Compression/CMakeLists.txt
  test/Utilities/Compression/QGCCompressionTest.cc
  test/Utilities/Compression/QGCStreamingDecompressionTest.cc
Due: none

It is finally working
  custom/custom.qrc
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
Due: check-no-qassert

Fix compile error encountered when doing Android x86_64 build
  test/Utilities/Compression/QGCCompressionTest.cc
Due: none

refactor(Joystick): Modernize joystick subsystem with SDL3 API and comprehensive enhancements
  .gitignore
  android/src/org/mavlink/qgroundcontrol/QGCActivity.java
  android/src/org/mavlink/qgroundcontrol/QGCJoystickManager.java
  android/src/org/mavlink/qgroundcontrol/QGCUsbSerialManager.java
  cmake/CustomOptions.cmake
  src/Android/AndroidEvents.cc
  src/Android/AndroidEvents.h
  src/Android/AndroidInterface.cc
  src/Android/AndroidInterface.h
  src/Android/CMakeLists.txt
  src/AutoPilotPlugins/Common/JoystickComponentSummary.qml
  src/Joystick/CMakeLists.txt
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/Joystick/JoystickAndroid.cc
  src/Joystick/JoystickAndroid.h
  src/Joystick/JoystickManager.cc
  src/Joystick/JoystickManager.h
  src/Joystick/JoystickSDL.cc
  src/Joystick/JoystickSDL.h
  src/Settings/FlyView.SettingsGroup.json
  src/Settings/FlyViewSettings.cc
  src/Settings/FlyViewSettings.h
  src/UI/AppSettings/FlyViewSettings.qml
  src/UI/toolbar/JoystickIndicator.qml
  src/Vehicle/VehicleSetup/JoystickComponent.qml
  test/CMakeLists.txt
  test/Joystick/CMakeLists.txt
  test/Joystick/JoystickManagerTest.cc
  test/Joystick/JoystickManagerTest.h
  test/Joystick/JoystickTest.cc
  test/Joystick/JoystickTest.h
  test/Joystick/MockJoystick.cc
  test/Joystick/MockJoystick.h
Due: qmllint, check-no-qassert

Fleet Management Feature
  src/FlightDisplay/CMakeLists.txt
  src/FlightDisplay/FleetControlPanel.qml
  src/FlightDisplay/FlyViewCustomLayer.qml
  src/FlightDisplay/FlyViewToolStrip.qml
  src/FlightDisplay/FlyViewToolStripActionList.qml
  src/FlightDisplay/FlyViewWidgetLayer.qml
  src/FlightDisplay/QuickActionsPanel.qml
  src/FlightDisplay/VehicleStatusCard.qml
  src/UI/MainWindow.qml
Due: qmllint

VTOLChecklist.qml is missing from the corresponding CMakeLists.txt, preflight checklist UI doesn't work in case of vtol vehicle class
  src/FlyView/CMakeLists.txt
Due: none

SettingsGroupLayout: Fix separator display when using a Repeater
  src/QmlControls/SettingsGroupLayout.qml
  src/UI/AppSettings/QmlTest.qml
Due: qmllint

Don't recalcAll on launch position change
  src/MissionManager/MissionController.cc
Due: check-no-qassert

Make methods private
  src/MissionManager/TakeoffMissionItem.cc
  src/MissionManager/TakeoffMissionItem.h
Due: check-no-qassert

Adjust spacing to latest coding style guidelines
  src/MissionManager/TakeoffMissionItem.cc
  src/MissionManager/TakeoffMissionItem.h
Due: check-no-qassert

Revert "fix: `Unable to assign [undefined]` errors (#13866)"
  src/FlightMap/Widgets/QGCCompassWidget.qml
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint

AutoPilotPlugins: RadioComponent: add Payload Power Switch RC channel
  src/AutoPilotPlugins/Common/RadioComponent.qml
Due: qmllint

Fact: Add support for fact not set by default
  src/FactSystem/Fact.cc
  src/FactSystem/Fact.h
Due: check-no-qassert

Remove unused code
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModes.qml
  src/FlightMap/Widgets/CompassDial.qml
  src/QmlControls/FactSlider.qml
  src/QmlControls/MvPanelPage.qml
Due: qmllint

Multi-vehicle section: make spacing consistent with other items in FlyView
  src/FlyView/FlyViewTopRightPanel.qml
  src/FlyView/MultiVehicleList.qml
Due: qmllint

Add a colored background to Multi-Vehicle card so it shows well even when qgcPal.toolbarBackground is transparent (which it is by default)
  src/QmlControls/MvPanelPage.qml
Due: qmllint

Move "Selected: " next to select buttons
  src/FlyView/FlyViewTopRightPanel.qml
Due: qmllint

actuators: add center to Actuators::parseJson
  src/Vehicle/Actuators/ActuatorOutputs.h
  src/Vehicle/Actuators/Actuators.cc
Due: check-no-qassert

New translations qgc.ts (Japanese)
  translations/qgc_source_ja_JP.ts
Due: none

Update src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
Due: check-no-qassert

remove RC_DZ params
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
Due: check-no-qassert

mavlink helper, simplify logic
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
Due: check-no-qassert

update to mavlink master for ESC_EEPROM
  cmake/CustomOptions.cmake
Due: none

fix edge case, clean up
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
Due: check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
