Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)

Comms: Add BluetoothLE Link
  src/Comms/BluetoothLink.cc
  src/Comms/BluetoothLink.h
  src/Comms/CMakeLists.txt
  src/UI/AppSettings/BluetoothSettings.qml
  src/UI/AppSettings/LinkSettings.qml
Due: qmllint, check-no-qassert

Vehicle: use terrain altitude for ROI
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

Add Joystick component to Generic autopilot
  src/AutoPilotPlugins/Generic/GenericAutoPilotPlugin.cc
  src/AutoPilotPlugins/Generic/GenericAutoPilotPlugin.h
Due: check-no-qassert

Add logging to debug center drag signalling
  src/QmlControls/QGCMapPolygon.cc
Due: check-no-qassert

Add a colored background to Multi-Vehicle card so it shows well even when qgcPal.toolbarBackground is transparent (which it is by default)
  src/QmlControls/MvPanelPage.qml
Due: qmllint

Multi-vehicle section: make spacing consistent with other items in FlyView
  src/FlyView/FlyViewTopRightPanel.qml
  src/FlyView/MultiVehicleList.qml
Due: qmllint

Remove unused code
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModes.qml
  src/FlightMap/Widgets/CompassDial.qml
  src/QmlControls/FactSlider.qml
  src/QmlControls/MvPanelPage.qml
Due: qmllint

Move "Selected: " next to select buttons
  src/FlyView/FlyViewTopRightPanel.qml
Due: qmllint

Add feature: add EFI status properties ignition voltage and fuel pressure
  src/Vehicle/FactGroups/EFIFact.json
  src/Vehicle/FactGroups/VehicleEFIFactGroup.cc
  src/Vehicle/FactGroups/VehicleEFIFactGroup.h
Due: check-no-qassert

Enhance liblzma integration in CMake: set encoder flags to TRUE for FindLibLZMA validation
  src/Utilities/Compression/CMakeLists.txt
Due: none

Fix libarchive not detecting liblzma and zstd compression support
  src/Utilities/Compression/CMakeLists.txt
Due: none

Enhance serial link management: disconnect autoconnect links without MAVLink data and add timeout handling
  src/Comms/LinkManager.cc
  src/Comms/LinkManager.h
Due: check-no-qassert

Set first MAVLink packet decoded flag in receiveBytes function
  src/Comms/MAVLinkProtocol.cc
Due: check-no-qassert

Fix parameter injection for qt6 standard
  src/FlyView/TelemetryValuesBar.qml
Due: qmllint

setMissionCurrentSequence: Set "Reset Mission" flag to true
  src/Vehicle/Vehicle.cc
Due: check-no-qassert

Separate tile cache database logic into QGCTileCacheDatabase and add unit tests
  src/QtLocationPlugin/CMakeLists.txt
  src/QtLocationPlugin/QGCCacheTile.h
  src/QtLocationPlugin/QGCCachedTileSet.cpp
  src/QtLocationPlugin/QGCCachedTileSet.h
  src/QtLocationPlugin/QGCMapEngine.cpp
  src/QtLocationPlugin/QGCMapEngineManager.cc
  src/QtLocationPlugin/QGCMapTasks.h
  src/QtLocationPlugin/QGCMapUrlEngine.cpp
  src/QtLocationPlugin/QGCTile.h
  src/QtLocationPlugin/QGCTileCacheDatabase.cpp
  src/QtLocationPlugin/QGCTileCacheDatabase.h
  src/QtLocationPlugin/QGCTileCacheTypes.h
  src/QtLocationPlugin/QGCTileCacheWorker.cpp
  src/QtLocationPlugin/QGCTileCacheWorker.h
  src/QtLocationPlugin/QGCTileSet.h
  src/QtLocationPlugin/QGeoFileTileCacheQGC.cpp
  src/QtLocationPlugin/QGeoFileTileCacheQGC.h
  src/QtLocationPlugin/QGeoMapReplyQGC.cpp
  src/QtLocationPlugin/QGeoTileFetcherQGC.cpp
  test/CMakeLists.txt
  test/QtLocationPlugin/CMakeLists.txt
  test/QtLocationPlugin/MapProviderTest.cc
  test/QtLocationPlugin/MapProviderTest.h
  test/QtLocationPlugin/QGCCacheWorkerTest.cc
  test/QtLocationPlugin/QGCCacheWorkerTest.h
  test/QtLocationPlugin/QGCCachedTileSetTest.cc
  test/QtLocationPlugin/QGCCachedTileSetTest.h
  test/QtLocationPlugin/QGCTileCacheDatabaseTest.cc
  test/QtLocationPlugin/QGCTileCacheDatabaseTest.h
  test/QtLocationPlugin/QGCTileSetTest.cc
  test/QtLocationPlugin/QGCTileSetTest.h
  test/QtLocationPlugin/UrlFactoryTest.cc
  test/QtLocationPlugin/UrlFactoryTest.h
Due: check-no-qassert

Make entryCoordinate explicit in VisualMissionItem
  src/MissionManager/LandingComplexItem.cc
  src/MissionManager/LandingComplexItem.h
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionSettingsItem.cc
  src/MissionManager/MissionSettingsItem.h
  src/MissionManager/SimpleMissionItem.cc
  src/MissionManager/SimpleMissionItem.h
  src/MissionManager/StructureScanComplexItem.cc
  src/MissionManager/StructureScanComplexItem.h
  src/MissionManager/TransectStyleComplexItem.cc
  src/MissionManager/TransectStyleComplexItem.h
  src/MissionManager/VisualMissionItem.h
  test/MissionManager/SimpleMissionItemTest.cc
Due: check-no-qassert

Add editableAlt getter to VisualMissionItem
  src/MissionManager/LandingComplexItem.cc
  src/MissionManager/LandingComplexItem.h
  src/MissionManager/MissionSettingsItem.h
  src/MissionManager/SimpleMissionItem.cc
  src/MissionManager/SimpleMissionItem.h
  src/MissionManager/StructureScanComplexItem.cc
  src/MissionManager/StructureScanComplexItem.h
  src/MissionManager/TransectStyleComplexItem.cc
  src/MissionManager/TransectStyleComplexItem.h
  src/MissionManager/VisualMissionItem.h
Due: check-no-qassert

Add mission item bulk displacement utilities
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionController.h
Due: check-no-qassert

Add hamburger menu with mission-wide transforms
  src/QmlControls/MissionItemEditor.qml
Due: qmllint

Fix EditPositionDialog init reposition
  src/FlightMap/MapItems/QGCMapPolylineVisuals.qml
  src/QmlControls/EditPositionDialogController.cc
  src/QmlControls/EditPositionDialogController.h
  src/QmlControls/MissionItemEditor.qml
Due: qmllint, check-no-qassert

Remove AirLink implementation
  cmake/CustomOptions.cmake
  cmake/PrintSummary.cmake
  src/CMakeLists.txt
  src/Comms/AirLink/AirLinkLink.cc
  src/Comms/AirLink/AirLinkLink.h
  src/Comms/AirLink/AirLinkManager.cc
  src/Comms/AirLink/AirLinkManager.h
  src/Comms/AirLink/AirLinkSettings.qml
  src/Comms/AirLink/CMakeLists.txt
  src/Comms/CMakeLists.txt
  src/Comms/LinkConfiguration.cc
  src/Comms/LinkConfiguration.h
  src/Comms/LinkManager.cc
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/Settings/App.SettingsGroup.json
  src/Settings/AppSettings.cc
  src/Settings/AppSettings.h
Due: qmllint, check-no-qassert

Bring back branding logo on toolbar at custom-example build
  custom-example/CMakeLists.txt
  custom-example/res/Custom/Widgets/BrandingLogoIndicator.qml
  custom-example/src/CustomPlugin.cc
  custom-example/src/CustomPlugin.h
Due: qmllint, check-no-qassert

QtLocationPlugin: Add ArduPilot SRTM Elevation Provider
  src/QtLocationPlugin/Providers/ElevationMapProvider.cpp
  src/QtLocationPlugin/Providers/ElevationMapProvider.h
  src/QtLocationPlugin/QGCMapUrlEngine.cpp
  src/Terrain/CMakeLists.txt
  src/Terrain/Providers/TerrainQueryArduPilot.cc
  src/Terrain/Providers/TerrainQueryArduPilot.h
  src/Terrain/Providers/TerrainQueryCopernicus.cc
  src/Terrain/Providers/TerrainQueryOpenElevation.cc
  src/Terrain/Providers/TerrainQueryOpenElevation.h
  src/Terrain/Providers/TerrainTileArduPilot.cc
  src/Terrain/Providers/TerrainTileArduPilot.h
  src/Terrain/TerrainQuery.cc
  src/Terrain/TerrainQueryInterface.cc
  src/Terrain/TerrainQueryInterface.h
  src/Terrain/TerrainTile.cc
  src/Terrain/TerrainTileManager.cc
  src/Terrain/TerrainTileManager.h
  src/Vehicle/TerrainProtocolHandler.cc
  test/CMakeLists.txt
  test/Terrain/CMakeLists.txt
  test/Terrain/ElevationProviderTest.cc
  test/Terrain/ElevationProviderTest.h
  test/Terrain/N00E006.hgt.zip
  test/Terrain/TerrainTileTest.cc
  test/Terrain/TerrainTileTest.h
  test/UnitTestFramework/BaseClasses/TerrainTest.cc
Due: check-no-qassert

Better cmake support for parallel moc compiles
  cmake/Toolchain.cmake
Due: none
