Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)

clean up AM32EepromFact.json, add function to update conversions based on eeprom version, qml setting visibility based on if setting is available for eeprom version
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/Vehicle/FactGroups/AM32EepromFact.json
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
  src/Vehicle/FactGroups/AM32EepromSchema.h
Due: qmllint, check-no-qassert

added AM32 json schema
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/am32-eeprom-schema.json
  tools/am32_schema/README.md
  tools/am32_schema/generate_am32_header.py
  tools/am32_schema/validate_eeprom_h.py
Due: qmllint, check-no-qassert

fix ESC online status
  src/UI/toolbar/EscIndicator.qml
  src/UI/toolbar/EscIndicatorPage.qml
  src/Vehicle/FactGroups/EscStatusFactGroupListModel.cc
Due: qmllint, check-no-qassert

fix init issues
  src/AutoPilotPlugins/PX4/AM32SettingSlider.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromSchema.cc
Due: qmllint, check-no-qassert

fix code for ESC_EEPROM
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
Due: check-no-qassert

added color changed indicator for check boxes
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
Due: qmllint, check-no-qassert

implement requestWriteAll
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
Due: qmllint, check-no-qassert

fix only broadcast (255) update if all selected
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
Due: check-no-qassert

AM32 EEPROM
  cmake/CustomOptions.cmake
  src/AutoPilotPlugins/PX4/AM32Component.cc
  src/AutoPilotPlugins/PX4/AM32Component.h
  src/AutoPilotPlugins/PX4/AM32Component.qml
  src/AutoPilotPlugins/PX4/AM32ComponentSummary.qml
  src/AutoPilotPlugins/PX4/AM32SettingSlider.qml
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/AutoPilotPlugins/PX4/ActuatorComponent.qml
  src/AutoPilotPlugins/PX4/ActuatorSlider.qml
  src/AutoPilotPlugins/PX4/CMakeLists.txt
  src/AutoPilotPlugins/PX4/PX4AutoPilotPlugin.cc
  src/AutoPilotPlugins/PX4/PX4AutoPilotPlugin.h
  src/Vehicle/FactGroups/AM32EepromFact.json
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/EscStatusFactGroupListModel.cc
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: qmllint, check-no-qassert

update from mavlink changes
  cmake/CustomOptions.cmake
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
Due: check-no-qassert

esc indicator grid layout
  src/UI/toolbar/EscIndicatorPage.qml
Due: qmllint

remove test scripts
  tools/am32_schema/README.md
  tools/am32_schema/generate_am32_header.py
  tools/am32_schema/validate_eeprom_h.py
Due: none

added settings match indicators
  src/AutoPilotPlugins/PX4/AM32SettingsComponent.qml
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.h
Due: qmllint, check-no-qassert

fetch and cache schema
  src/Vehicle/FactGroups/AM32EepromFactGroupListModel.cc
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/am32-eeprom-schema.json
Due: check-no-qassert

revert actuator slider changes
  src/AutoPilotPlugins/PX4/ActuatorComponent.qml
  src/AutoPilotPlugins/PX4/ActuatorSlider.qml
Due: qmllint

add am32 schema eeprom.json when network is not available
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
  src/Vehicle/FactGroups/CMakeLists.txt
  src/Vehicle/FactGroups/eeprom.json
Due: check-no-qassert

fix for gripper, am32 local schema testing
  src/MAVLink/QGCMAVLink.h
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
Due: check-no-qassert

update mavlink
  cmake/CustomOptions.cmake
Due: none

QGCTabBar: Fix for Repeater children in RowLayout
  src/QmlControls/QGCTabBar.qml
Due: qmllint

ActuatorComponent: Fix deprecated signal parameter injection
  src/AutoPilotPlugins/PX4/ActuatorComponent.qml
Due: qmllint

update mavlink to latest
  cmake/CustomOptions.cmake
  src/MAVLink/QGCMAVLink.h
Due: check-no-qassert

fix: parameter search not updating when "Show modified only" is active
  src/QmlControls/ParameterEditorController.cc
Due: check-no-qassert

rename gripper actions
  src/FlyView/FlyViewGripperDropPanel.qml
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/MAVLink/QGCMAVLink.h
Due: qmllint, check-no-qassert

docs: Update README with custom authentication system details
  README.md
Due: none

LogDownloadController: reverse log list
  src/AnalyzeView/LogDownloadController.cc
Due: check-no-qassert

guard log list reversal on log request state
  src/AnalyzeView/LogDownloadController.cc
Due: check-no-qassert

Add Joystick component to Generic autopilot
  src/AutoPilotPlugins/Generic/GenericAutoPilotPlugin.cc
  src/AutoPilotPlugins/Generic/GenericAutoPilotPlugin.h
Due: check-no-qassert

Vehicle: use terrain altitude for ROI
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

Add support for JFB200
  src/Comms/USBBoardInfo.json
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.cc
Due: check-no-qassert

refactor(Joystick): Modernize joystick subsystem with SDL3 API and comprehensive enhancements
  .gitignore
  android/src/org/mavlink/qgroundcontrol/QGCActivity.java
  android/src/org/mavlink/qgroundcontrol/QGCJoystickManager.java
  android/src/org/mavlink/qgroundcontrol/QGCUsbSerialManager.java
  cmake/CustomOptions.cmake
  src/Android/AndroidEvents.cc
  src/Android/AndroidEvents.h
  src/Android/AndroidInterface.cc
  src/Android/AndroidInterface.h
  src/Android/CMakeLists.txt
  src/AutoPilotPlugins/Common/JoystickComponentSummary.qml
  src/Joystick/CMakeLists.txt
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/Joystick/JoystickAndroid.cc
  src/Joystick/JoystickAndroid.h
  src/Joystick/JoystickManager.cc
  src/Joystick/JoystickManager.h
  src/Joystick/JoystickSDL.cc
  src/Joystick/JoystickSDL.h
  src/Settings/FlyView.SettingsGroup.json
  src/Settings/FlyViewSettings.cc
  src/Settings/FlyViewSettings.h
  src/UI/AppSettings/FlyViewSettings.qml
  src/UI/toolbar/JoystickIndicator.qml
  src/Vehicle/VehicleSetup/JoystickComponent.qml
  test/CMakeLists.txt
  test/Joystick/CMakeLists.txt
  test/Joystick/JoystickManagerTest.cc
  test/Joystick/JoystickManagerTest.h
  test/Joystick/JoystickTest.cc
  test/Joystick/JoystickTest.h
  test/Joystick/MockJoystick.cc
  test/Joystick/MockJoystick.h
Due: qmllint, check-no-qassert

Bump mavlink to latest (#13901)
  cmake/CustomOptions.cmake
  src/FlyView/FlyViewGripperDropPanel.qml
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/MAVLink/QGCMAVLink.h
Due: qmllint, check-no-qassert

New translations qgc.ts (Japanese)
  translations/qgc_source_ja_JP.ts
Due: none

Comms: Add BluetoothLE Link
  src/Comms/BluetoothLink.cc
  src/Comms/BluetoothLink.h
  src/Comms/CMakeLists.txt
  src/UI/AppSettings/BluetoothSettings.qml
  src/UI/AppSettings/LinkSettings.qml
Due: qmllint, check-no-qassert
