Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-fact-metadata, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@" || true; else echo "qmllint not found - skipping QML linting (install qt6-declarative-dev-tools or Qt SDK)"; fi' --
  language: system
  pass_filenames: true

check-fact-metadata:
  name: Validate Fact metadata JSON
  entry: python3
  language: system
  pass_filenames: true
  args:
  - -c
  ...

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Fix mission command default JSON type
  src/MissionManager/MissionCommandUIInfo.cc
Due: check-no-qassert

Fix flickable height which was causing scroll bar to show incorrectly
  src/QmlControls/ToolStrip.qml
Due: qmllint

Fix icon display
  src/QmlControls/QGCButton.qml
Due: qmllint

Added new svg icons for plan view toolbar
  qgcresources.qrc
  resources/SaveToDisk.svg
  resources/TrashCan.svg
  resources/UploadToVehicle.svg
Due: none

Reworked Plan toolbar
  src/QmlControls/PlanToolBarIndicators.qml
  src/QmlControls/PlanView.qml
  src/QmlControls/PlanViewRightPanel.qml
Due: qmllint

Add automatic mission start/resume popups setting
  src/FlyView/GuidedActionsController.qml
  src/Settings/FlyView.SettingsGroup.json
  src/Settings/FlyViewSettings.cc
  src/Settings/FlyViewSettings.h
Due: qmllint, check-fact-metadata, check-no-qassert

Constrain RC_CHANNELS values to what we can handle
  src/Vehicle/Vehicle.cc
Due: check-no-qassert

Change to allow V1 heartbeats without notify
  src/Comms/MAVLinkProtocol.cc
Due: check-no-qassert

Fix handling of dynamic visibility of pages
  src/QmlControls/AppSettings.qml
Due: qmllint

GPS: Set Drivers to Specific Commit
  src/GPS/CMakeLists.txt
Due: none

The json value for AMSLAltAboveTerrain in Plan files should support NaN
  src/MissionManager/SimpleMissionItem.cc
Due: check-no-qassert

Better explanation of how NaN work in json files
  src/MissionManager/MissionCommandUIInfo.h
Due: check-no-qassert

Update src/MissionManager/MissionCommandUIInfo.h
  src/MissionManager/MissionCommandUIInfo.h
Due: check-no-qassert

Better explanation of how NaN work in json files
  src/MissionManager/MissionCommandUIInfo.h
  src/Utilities/JsonHelper.h
Due: check-no-qassert

Use number dashes for invalid value placeholders
  src/FactSystem/Fact.cc
  src/FlyView/ProximityRadarValues.qml
  src/QmlControls/GPSIndicatorPage.qml
  src/QmlControls/InstrumentValueValue.qml
  src/UI/toolbar/EscIndicatorPage.qml
  src/Vehicle/FactGroups/BatteryFactGroupListModel.cc
  src/Vehicle/FactGroups/VehicleFactGroup.cc
Due: qmllint, check-no-qassert

Fix bug where slider value was not being updated
  src/FactSystem/FactControls/FactTextFieldSlider.qml
Due: qmllint

Reworked global altitude mode ui in Mission Start
  src/MissionManager/BlankPlanCreator.cc
  src/MissionManager/PlanCreator.h
  src/MissionManager/PlanMasterController.cc
  src/MissionManager/PlanMasterController.h
  src/QmlControls/AltModeCombo.qml
  src/QmlControls/AltModeDialog.qml
  src/QmlControls/CMakeLists.txt
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanViewRightPanel.qml
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/SimpleItemEditor.qml
Due: qmllint, check-no-qassert

remove COM_OBS_AVOID parameter since PX4 no longer supports Obstacle Avoidance
  src/AutoPilotPlugins/PX4/SafetyComponent.qml
  src/Comms/MockLink/MockLink.Parameter.MetaData.json
  src/FirmwarePlugin/PX4/PX4ParameterFactMetaData.xml
Due: qmllint

Updated qml coding style
  tools/coding-style/CodingStyle.qml
Due: qmllint

Fix global alt mode based on items from vehicle
  src/MissionManager/MissionController.cc
Due: check-no-qassert

Fix inconsistent naming
  src/QmlControls/QGroundControlQmlGlobal.cc
Due: check-no-qassert

Rework of Initial Mission Settings
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanViewRightPanel.qml
  src/Settings/App.SettingsGroup.json
Due: qmllint, check-fact-metadata

ci(docker): Scan produced artifacts instead of Docker image
  .github/workflows/docker.yml
Due: none

ci: Consolidate workflow_run triggered workflows
  .github/workflows/build-results.yml
  .github/workflows/build-summary.yml
  .github/workflows/coverage-comment.yml
  .github/workflows/test-report.yml
  .github/workflows/test-results.yml
Due: none

ci: Merge pull_request_target workflows into pr-checks
  .github/workflows/auto-merge.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/pr-checks.yml
Due: none

ci(dependency-review): Remove unsupported CMake paths
  .github/workflows/dependency-review.yml
Due: none

fix(pre-commit): Remove invalid --check arg from pretty-format-json
  .pre-commit-config.yaml
Due: none

fix(cmake): Skip PIE check on MSVC
  cmake/Helpers.cmake
  cmake/Toolchain.cmake
Due: none

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-fact-metadata: any of: \.FactMetaData\.json$|\.SettingsGroup\.json$, but not: ^build/
  check-no-qassert: any of: \.(h|cc|cpp)$ and not (^(test/|UnitTest\.h|UnitTest\.cc)) and not (^build/)
