Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-fact-metadata, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@" || true; else echo "qmllint not found - skipping QML linting (install qt6-declarative-dev-tools or Qt SDK)"; fi' --
  language: system
  pass_filenames: true

check-fact-metadata:
  name: Validate Fact metadata JSON
  entry: python3
  language: system
  pass_filenames: true
  args:
  - -c
  ...

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

New script to setup a proper podman container.
  deploy/docker/run-podman-ubuntu.sh
Due: none

Add ruff Python linter config and fix all Python files
  resources/InstrumentValueIcons/UpdateResourceFile.py
  ruff.toml
  test/ADSB/ADSB_Simulator.py
  tools/check-sizes.py
  tools/log-analyzer/analyze_log.py
  tools/mock-mavlink/mock_vehicle.py
  tools/param-docs.py
  tools/translations/qgc-lupdate-json.py
  tools/update-headers.py
Due: none

Allow the edit panel to open/close
  src/QmlControls/PlanViewRightPanel.qml
Due: qmllint

Fix
  src/FlyView/FlyView.qml
Due: qmllint

Fix GuidedValueSlider overlapping toolbar (#13715)
  src/FlyView/FlyView.qml
Due: qmllint

Add video-fit and video-grid-line settings to Video Settings page
  src/UI/AppSettings/VideoSettings.qml
Due: qmllint

Refer to ArduPlane RTL altitude param using mapping in FirmwarePlugin
  src/AutoPilotPlugins/APM/APMSafetyComponent.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentPlane.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummary.qml
  src/AutoPilotPlugins/APM/APMSafetyComponentSummaryPlane.qml
  src/FirmwarePlugin/APM/ArduPlaneFirmwarePlugin.cc
Due: qmllint, check-no-qassert

ci: Fix dependency review for fork PRs
  .github/workflows/dependency-review.yml
Due: none

ci: Fix Docker builds, improve security, add devcontainer
  .devcontainer/devcontainer.json
  .github/build-config.json
  .github/renovate.json
  .github/workflows/android.yml
  .github/workflows/docker.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/pr-size.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  deploy/docker/Dockerfile-build-ubuntu
Due: none

Refactor dependency installation scripts for improved clarity and efficiency
  tools/setup/install-dependencies-debian.sh
  tools/setup/install-qt-debian.sh
Due: none

Add Containerfile for building QGroundControl with Podman and implement entrypoint script.
  deploy/docker/Containerfile-build-ubuntu
  deploy/docker/run-podman-ubuntu.sh
  tools/setup/container-entrypoint.sh
Due: none

Fix palette usage problems
  src/QmlControls/QGCDelayButton.qml
Due: qmllint

Update src/QmlControls/QGCDelayButton.qml
  src/QmlControls/QGCDelayButton.qml
Due: qmllint

Add script for building Android Docker image with Podman.
  deploy/docker/run-podman-android.sh
Due: none

Refactor build scripts for Android and Ubuntu to improve variable definition and maintainability
  deploy/docker/run-podman-android.sh
  deploy/docker/run-podman-ubuntu.sh
Due: none

ci: Fix fork PR attestation, Docker pip, and SITL typo
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  .typos.toml
  README.md
  deploy/docker/Dockerfile-build-android
Due: none

ci: Fix fork PR attestation, Docker pip, and SITL typo
  .github/workflows/docker.yml
Due: none

Update Dockerfile path in run-podman-android script to use Containerfile. Fix Android Dockerfile issues.
  deploy/docker/Dockerfile-build-android
  deploy/docker/run-podman-android.sh
Due: none

Refactor Android Dockerfile to use a virtual environment for aqtinstall and improve PATH configuration for better management of dependencies.
  deploy/docker/Dockerfile-build-android
Due: none

Add Containerfile for Android build environment setup
  deploy/docker/Containerfile-build-android
Due: none

Remove deprecated RadioConfigTest unit test
  test/AutoPilotPlugins/CMakeLists.txt
  test/AutoPilotPlugins/RadioConfigTest.cc
  test/AutoPilotPlugins/RadioConfigTest.h
  test/CMakeLists.txt
Due: none

Use better app close icon on mobile
  src/UI/MainWindow.qml
Due: qmllint

Split RadioComponentController into base class for RC and Joystick use
  src/AutoPilotPlugins/APM/APMFlightModesComponentController.cc
  src/AutoPilotPlugins/APM/APMFlightModesComponentController.h
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/AutoPilotPlugins/Common/RadioComponentController.cc
  src/AutoPilotPlugins/Common/RadioComponentController.h
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.cc
  src/AutoPilotPlugins/PX4/PX4SimpleFlightModesController.h
  src/QmlControls/RCChannelMonitor.qml
  src/QmlControls/RCChannelMonitorController.cc
  src/QmlControls/RCChannelMonitorController.h
  src/Vehicle/Vehicle.cc
  src/Vehicle/VehicleSetup/CMakeLists.txt
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.cc
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.h
Due: qmllint, check-no-qassert

Fix Android and Ubuntu Container files to improve environment variable handling and streamline SDK installation process.
  deploy/docker/Containerfile-build-android
  deploy/docker/Containerfile-build-ubuntu
  deploy/docker/Dockerfile-build-android
Due: none

Fix NDK full version in build configuration
  .github/build-config.json
Due: none

Adjust mobile control sizing to match desktop
  src/QmlControls/QGCSlider.qml
  src/QmlControls/ScreenTools.qml
Due: qmllint

Outputs for dockerfile and container file properly sat up. Fixed some minor typos.
  deploy/docker/Containerfile-build-android
  deploy/docker/Dockerfile-build-android
  deploy/docker/run-podman-android.sh
  deploy/docker/run-podman-ubuntu.sh
Due: none

More work on making Radio Cal base ready for joystick use as well
  qgcresources.qrc
  resources/calibration/mode1/radioCenter.png
  resources/calibration/mode1/radioHome.png
  resources/calibration/mode1/radioPitchDown.png
  resources/calibration/mode1/radioPitchUp.png
  resources/calibration/mode1/radioRollLeft.png
  resources/calibration/mode1/radioRollRight.png
  resources/calibration/mode1/radioSwitchMinMax.png
  resources/calibration/mode1/radioThrottleDown.png
  resources/calibration/mode1/radioThrottleUp.png
  resources/calibration/mode1/radioYawLeft.png
  resources/calibration/mode1/radioYawRight.png
  resources/calibration/mode2/radioCenter.png
  resources/calibration/mode2/radioHome.png
  resources/calibration/mode2/radioPitchDown.png
  resources/calibration/mode2/radioPitchUp.png
  resources/calibration/mode2/radioRollLeft.png
  resources/calibration/mode2/radioRollRight.png
  resources/calibration/mode2/radioSwitchMinMax.png
  resources/calibration/mode2/radioThrottleDown.png
  resources/calibration/mode2/radioThrottleUp.png
  resources/calibration/mode2/radioYawLeft.png
  resources/calibration/mode2/radioYawRight.png
  src/AutoPilotPlugins/Common/RadioComponent.qml
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.cc
  src/Vehicle/VehicleSetup/RemoteControlCalibrationController.h
Due: qmllint, check-no-qassert

Add warning for joystick calibration issues
  docs/en/qgc-user-guide/setup_view/joystick.md
Due: none

Update joystick.md with TBS TANGO 2 support
  docs/en/qgc-user-guide/setup_view/joystick.md
Due: none

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-fact-metadata: any of: \.FactMetaData\.json$|\.SettingsGroup\.json$, but not: ^build/
  check-no-qassert: any of: \.(h|cc|cpp)$ and not (^(test/|UnitTest\.h|UnitTest\.cc)) and not (^build/)
