Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

Fix QGCTabBar ButtonGroup errors with Repeater children
  src/QmlControls/QGCTabBar.qml
Due: qmllint

Move video grid lines to their own item.
  src/FlyView/FlightDisplayViewVideo.qml
Due: qmllint

Make so USB cameras can show gridLines and size to screen depending on the videoFit setting.
  src/FlyView/FlightDisplayViewUVC.qml
  src/FlyView/FlightDisplayViewVideo.qml
  src/FlyView/FlyViewVideo.qml
Due: qmllint

fix: parameter search not updating when "Show modified only" is active
  src/QmlControls/ParameterEditorController.cc
  src/QmlControls/ParameterEditorController.h
Due: check-no-qassert

increment _resetNestingCount before call to beginResetModel()
  src/QmlControls/ParameterEditorController.cc
Due: check-no-qassert

Warnings as errors, turn off warnings for depedencies
  CMakeLists.txt
  cmake/CompilerWarnings.cmake
  cmake/CustomOptions.cmake
  cmake/Toolchain.cmake
  src/Comms/CMakeLists.txt
  src/GPS/CMakeLists.txt
  src/Utilities/Compression/CMakeLists.txt
  src/Utilities/Geo/CMakeLists.txt
  src/Utilities/Parsing/Exif/CMakeLists.txt
  src/Utilities/Parsing/ULog/CMakeLists.txt
  src/Utilities/SDL/CMakeLists.txt
  src/VideoManager/VideoReceiver/GStreamer/gstqml6gl/CMakeLists.txt
  test/UnitTestFramework/ApprovalTesting/CMakeLists.txt
  test/UnitTestFramework/Benchmarking/CMakeLists.txt
  test/UnitTestFramework/PropertyTesting/CMakeLists.txt
Due: none

Enable antialiasing on CompassDial tick marks
  src/FlightMap/Widgets/CompassDial.qml
Due: qmllint

Fix launch location indicator position for Horizontal Compass layout
  src/FlightMap/Widgets/QGCCompassWidget.qml
Due: qmllint

Replace hardcoded PX4 board map with manifest-based firmware discovery
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.cc
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.h
  test/Vehicle/CMakeLists.txt
  test/Vehicle/PX4ManifestTest.cc
  test/Vehicle/PX4ManifestTest.h
  test/Vehicle/px4_manifest_v2.json
Due: check-no-qassert

Add user-selectable PX4 firmware build list in upgrade dialog
  src/Vehicle/VehicleSetup/FirmwareUpgrade.qml
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.cc
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.h
  test/Vehicle/PX4ManifestTest.cc
  test/Vehicle/PX4ManifestTest.h
Due: qmllint, check-no-qassert

Migrate firmware URLs from S3 bucket to CloudFront CDN
  test/Vehicle/px4_manifest_v2.json
Due: none

Fix parameter injection for qt6 standard
  src/FlyView/TelemetryValuesBar.qml
Due: qmllint

fix bug
  src/QmlControls/ParameterEditorController.cc
Due: check-no-qassert

Add SHA-256 verification for decompressed firmware images
  src/Vehicle/VehicleSetup/FirmwareImage.cc
  src/Vehicle/VehicleSetup/FirmwareImage.h
  test/Vehicle/px4_manifest_v2.json
Due: check-no-qassert

Redesign PX4 advanced mode with version and build dropdowns
  src/Vehicle/VehicleSetup/FirmwareUpgrade.qml
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.cc
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.h
  test/Vehicle/PX4ManifestTest.cc
  test/Vehicle/PX4ManifestTest.h
Due: qmllint, check-no-qassert

Better logging
  src/Camera/VehicleCameraControl.cc
Due: check-no-qassert

Add mavlink v2 camera support
  src/Comms/MockLink/CMakeLists.txt
  src/Comms/MockLink/MockConfiguration.cc
  src/Comms/MockLink/MockConfiguration.h
  src/Comms/MockLink/MockLink.cc
  src/Comms/MockLink/MockLink.h
  src/Comms/MockLink/MockLinkCamera.cc
  src/Comms/MockLink/MockLinkCamera.h
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/UI/AppSettings/MockLink.qml
  test/FactSystem/ParameterManagerTest.cc
  test/UnitTestFramework/BaseClasses/VehicleTest.cc
Due: qmllint, check-no-qassert

MAVLink: Enhance logging for commands and messages
  src/Comms/MockLink/MockLinkCamera.cc
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

MockLink: Add configurable camera capabilities to MockConfiguration
  src/Comms/MockLink/MockConfiguration.cc
  src/Comms/MockLink/MockConfiguration.h
Due: check-no-qassert

MockLink: Initialize MockLinkCamera with configured capabilities
  src/Comms/MockLink/MockLink.cc
Due: check-no-qassert

MockLinkCamera: Refine MAVLink message sending and request handling
  src/Comms/MockLink/MockLinkCamera.cc
Due: check-no-qassert

MockLinkCamera: Implement 10Hz tasks and full image capture process
  src/Comms/MockLink/MockLink.cc
  src/Comms/MockLink/MockLink.h
  src/Comms/MockLink/MockLinkCamera.cc
  src/Comms/MockLink/MockLinkCamera.h
Due: check-no-qassert

UI: Add MockLink camera capability settings
  src/UI/AppSettings/MockLinkSettings.qml
Due: qmllint

UI: PhotoVideoControl: Fix capture button color logic
  src/FlightMap/Widgets/PhotoVideoControl.qml
Due: qmllint

MockLinkCamera: Prepare constructor for configurable capabilities
  src/Comms/MockLink/MockLinkCamera.cc
  src/Comms/MockLink/MockLinkCamera.h
Due: check-no-qassert

tracking: Increase BB rate
  src/Camera/QGCCameraControl.cc
Due: check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
