Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

Switch to using JSON metadata for facts
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
Due: check-no-qassert

Simplify signal connections
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
Due: check-no-qassert

Introduce AuthState enum for clearer authentication merge logic
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.cc
  src/Vehicle/FactGroups/VehicleGPSAggregateFactGroup.h
Due: check-no-qassert

Updated GPS detail visibility
  src/UI/toolbar/GPSResilienceIndicator.qml
Due: qmllint

ci: Add security hardening and consolidate workflow patterns
  .github/actions/checkout-setup/action.yml
  .github/actions/gstreamer/action.yml
  .github/workflows/analysis.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/check-links.yml
  .github/workflows/crowdin.yml
  .github/workflows/custom-build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/flatpak.yml
  .github/workflows/lupdate.yml
  .github/workflows/performance.yml
  .github/workflows/repo-stats.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
Due: none

fix(ci): Add checkout before local actions, fix uv cache
  .github/actions/setup-python/action.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

feat: update branding and icons to IG GCS Fly
  android/res/drawable-hdpi/icon.png
  android/res/drawable-ldpi/icon.png
  android/res/drawable-mdpi/icon.png
  android/res/drawable-xhdpi/icon.png
  android/res/drawable-xxhdpi/icon.png
  android/res/drawable-xxxhdpi/icon.png
  deploy/windows/WindowsQGC.ico
  replace_qgc_icons.py
  resources/icons/qgroundcontrol.ico
  resources/icons/qgroundcontrol.png
  resources/ig-gcs-fly.ico
  resources/ig-gcs-fly.svg
  src/QmlControls/FlyViewToolBar.qml
  src/UI/AppSettings/AboutTool.qml
  src/UI/AppSettings/CMakeLists.txt
  src/UI/AppSettings/GuideSettings.qml
  src/UI/AppSettings/HelpSettings.qml
  src/UI/MainWindow.qml
  src/VideoManager/VideoManager.cc
  src/VideoManager/VideoReceiver/GStreamer/GStreamer.cc
Due: qmllint, check-no-qassert

WIP
  docs/en/qgc-user-guide/setup_view/joystick.md
Due: none

allow system 1 to also send odom
  src/Vehicle/Vehicle.cc
  src/Vehicle/Vehicle.h
Due: check-no-qassert

update gps provider? might need to undo this?
  src/GPS/GPSProvider.cc
Due: check-no-qassert

fix(ci): Remove harden-runner from composite actions, fix qt-install
  .github/actions/build-setup/action.yml
  .github/actions/checkout-setup/action.yml
  .github/actions/qt-install/action.yml
Due: none

fix(ci): Fix sccache, minisign, and iOS architecture issues
  .github/actions/cache/action.yml
  .github/workflows/ios.yml
Due: none

fix(ci): Fix Android GStreamer mismatch, iOS architecture, and bloaty
  .github/workflows/ios.yml
  .github/workflows/performance.yml
  package-lock.cmake
Due: none

fix(ci): Fix iOS x86_64h architecture and Size Metrics binary path
  .github/workflows/ios.yml
  .github/workflows/performance.yml
Due: none

fix(ci): Pin CMake 3.31.x, add macOS arch, handle missing gh-pages
  .github/actions/common/action.yml
  .github/workflows/macos.yml
  .github/workflows/performance.yml
Due: none

fix(ci): Simplify Apple platform CMake configuration
  .github/actions/common/action.yml
  .github/workflows/ios.yml
  .github/workflows/macos.yml
Due: none

refactor(ci): Consolidate actions and fix coverage path
  .github/actions/build-setup/action.yml
  .github/actions/checkout-setup/action.yml
  .github/actions/coverage-comment/action.yml
  .github/actions/coverage/action.yml
  .github/workflows/custom-build.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: none

fix(ci): Add comment-tag input to coverage action
  .github/actions/coverage/action.yml
Due: none

perf(ci): Share binary between performance workflow jobs
  .github/workflows/performance.yml
Due: none

Comms: Add BluetoothLE Link
  src/Comms/BluetoothLink.cc
  src/Comms/BluetoothLink.h
  src/Comms/CMakeLists.txt
  src/Comms/LinkManager.cc
  src/UI/AppSettings/BluetoothSettings.qml
  src/UI/AppSettings/LinkSettings.qml
  src/Utilities/DeviceInfo.cc
  src/Utilities/DeviceInfo.h
Due: qmllint, check-no-qassert

Fix Mac dependency install scripts
  tools/setup/install-dependencies-macos.sh
  tools/setup/read-config.sh
Due: none

Fix bad references
  src/FlightMap/Widgets/PhotoVideoControl.qml
Due: qmllint

fix(translations): Remove duplicate qgc-json.ts from tools/
  tools/translations/qgc-json.ts
Due: none

refactor(tools): Add common utilities and comprehensive tests
  .github/workflows/pr-checks.yml
  tools/analyze.py
  tools/check_deps.py
  tools/common/__init__.py
  tools/common/errors.py
  tools/common/logging.py
  tools/coverage.py
  tools/generate_docs.py
  tools/generators/factgroup/generator.py
  tools/lint_fix.py
  tools/pre_commit.py
  tools/run_tests.py
  tools/tests/conftest.py
  tools/tests/test_analyze.py
  tools/tests/test_check_deps.py
  tools/tests/test_coverage_tool.py
  tools/tests/test_generate_docs.py
  tools/tests/test_lint_fix.py
  tools/tests/test_pre_commit.py
  tools/tests/test_run_tests_tool.py
Due: none

cmake: Fix ccache config compatibility with IDEs
  tools/ccache.conf
Due: none

cmake: Overhaul presets with inheritance and streamlined configs
  CMakePresets.json.template
  cmake/presets/Android.json
  cmake/presets/Linux.json
  cmake/presets/Windows.json
  cmake/presets/common.json
  cmake/presets/iOS.json
  cmake/presets/macOS.json
Due: none

Camera Section: Displays for ArduPilot firmware
  src/QmlControls/FWLandingPatternEditor.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/VTOLLandingPatternEditor.qml
Due: qmllint

Rework `Apply New Default Altitude` support
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/PlanView.qml
Due: qmllint

style: Replace header guards with #pragma once
  src/Android/qtandroidserialport/qserialport.h
  src/Android/qtandroidserialport/qserialport_p.h
  src/Android/qtandroidserialport/qserialportglobal.h
  src/Android/qtandroidserialport/qserialportinfo.h
  src/Android/qtandroidserialport/qserialportinfo_p.h
  src/Android/qtandroidserialport/qtserialportexports.h
  src/Android/qtandroidserialport/qtserialportversion.h
  src/FirmwarePlugin/PX4/px4_custom_mode.h
Due: check-no-qassert

New translations qgc.ts (Ukrainian)
  translations/qgc_source_uk_UA.ts
Due: none

Handles USB disconnect by closing port on resource error
  src/Comms/SerialLink.cc
Due: check-no-qassert

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
