Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

ci(windows): Switch to actively maintained MSVC setup action
  .github/workflows/windows.yml
Due: none

fix(ci): Fix deprecated arguments and improve CI configuration
  .github/trivy.yaml
  .github/trufflehog.yaml
  .github/workflows/check-links.yml
  .github/workflows/docker.yml
  .github/workflows/pr-checks.yml
  .github/workflows/secret-scan.yml
  .github/workflows/welcome.yml
  .lychee.toml
Due: none

Added KamikazeLocManager and map/QML extensions
  .gitignore
  CMakeLists.txt
  Modifications_Documentation.md
  qgcresources.qrc
  resources/qr.png
  resources/zoom-gps.svg
  src/AAD/CMakeLists.txt
  src/AAD/KamikazeLocManager.cc
  src/AAD/KamikazeLocManager.h
  src/FirmwarePlugin/APM/ArduPlaneFirmwarePlugin.cc
  src/FirmwarePlugin/APM/ArduPlaneFirmwarePlugin.h
  src/FlightMap/FlightMap.qml
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/UI/MainWindow.qml
  src/UI/toolbar/Images/AirplaneIcon.svg
Due: qmllint, check-no-qassert

fix(ci): Remove broken auto-merge job for dependabot PRs
  .github/dependabot.yml
  .github/workflows/pr-checks.yml
Due: none

fix(appimage): Fix GLib/GIO module compatibility across distros
  deploy/linux/AppRun
Due: none

fix(video): Fix GStreamer GL context initialization race condition
  deploy/linux/AppRun
  src/VideoManager/VideoManager.cc
Due: check-no-qassert

fix(ci): Fix YAML syntax error in check-links workflow
  .github/workflows/check-links.yml
Due: none

FIXED restore Focus FIX stealing mouse focus
  Modifications_Documentation.md
  src/AAD/KamikazeLocManager.cc
  src/AAD/KamikazeLocManager.h
  src/FlightMap/FlightMap.qml
Due: qmllint, check-no-qassert

fix(linux): Fix AppImage GLib/GIO and GStreamer GL compatibility (#13790)
  deploy/linux/AppRun
  src/VideoManager/VideoManager.cc
Due: check-no-qassert

Convert QGCTabBar/Button to our own implementation
  src/QmlControls/QGCTabBar.qml
  src/QmlControls/QGCTabButton.qml
Due: qmllint

refactor(compression): Unify compression APIs with libarchive backend
  src/Camera/VehicleCameraControl.cc
  src/Utilities/Compression/CMakeLists.txt
  src/Utilities/Compression/QGCCompression.cc
  src/Utilities/Compression/QGCCompression.h
  src/Utilities/Compression/QGCLZMA.cc
  src/Utilities/Compression/QGCLZMA.h
  src/Utilities/Compression/QGCZip.cc
  src/Utilities/Compression/QGCZip.h
  src/Utilities/Compression/QGCZlib.cc
  src/Utilities/Compression/QGCZlib.h
  src/Utilities/Compression/QGClibarchive.cc
  src/Utilities/Compression/QGClibarchive.h
  src/Vehicle/ComponentInformation/ComponentInformationManager.cc
  src/Vehicle/ComponentInformation/ComponentInformationTranslation.cc
  src/Vehicle/VehicleSetup/FirmwareUpgradeController.cc
  test/CMakeLists.txt
  test/UnitTestList.cc
  test/Utilities/Compression/CMakeLists.txt
  test/Utilities/Compression/DecompressionTest.cc
  test/Utilities/Compression/DecompressionTest.h
  test/Utilities/Compression/QGCCompressionTest.cc
  test/Utilities/Compression/QGCCompressionTest.h
  test/Utilities/Compression/manifest.json.gz
  test/Utilities/Compression/manifest.json.xz
  test/Utilities/Compression/manifest.json.zip
Due: check-no-qassert

remove COM_OBS_AVOID parameter since PX4 no longer supports Obstacle Avoidance
  src/AutoPilotPlugins/PX4/SafetyComponent.qml
  src/Comms/MockLink/MockLink.Parameter.MetaData.json
  src/FirmwarePlugin/PX4/PX4ParameterFactMetaData.xml
Due: qmllint

Vehicle: ignore SYS_STATUS unless from autopilot
  src/Vehicle/Vehicle.cc
Due: check-no-qassert

Hardware: Add support for VOLOLAND NarinFC-H7
  src/Comms/USBBoardInfo.json
Due: none

feat(Gimbal): Auto-adjust FOV and control sensitivity based on zoom level (#13612)
  src/Camera/QGCCameraManager.cc
  src/Camera/QGCCameraManager.h
  src/Gimbal/GimbalController.cc
  src/Gimbal/GimbalController.h
  src/Settings/GimbalController.SettingsGroup.json
  src/Settings/GimbalControllerSettings.cc
  src/Settings/GimbalControllerSettings.h
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint, check-no-qassert

Plan: SimpleMissionItem splits params into basic/advanced
  qgcresources.qrc
  resources/AdvancedSliders.svg
  resources/camera.svg
  src/MissionManager/MavCmdInfoCommon.json
  src/MissionManager/MavCmdInfoMultiRotor.json
  src/MissionManager/MissionCommandUIInfo.cc
  src/MissionManager/MissionCommandUIInfo.h
  src/MissionManager/MissionController.cc
  src/MissionManager/MissionController.h
  src/MissionManager/PlanMasterController.cc
  src/MissionManager/SimpleMissionItem.cc
  src/MissionManager/SimpleMissionItem.h
  src/QmlControls/CameraSection.qml
  src/QmlControls/MissionSettingsEditor.qml
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/QmlControls/SimpleItemEditor.qml
  src/Settings/AppSettings.h
  src/main.cc
  test/MissionManager/CMakeLists.txt
  test/MissionManager/OldFileFormat.mission
  test/MissionManager/PlanMasterControllerTest.cc
  test/MissionManager/PlanMasterControllerTest.h
  test/MissionManager/SimpleMissionItemTest.cc
  test/MissionManager/SimpleMissionItemTest.h
Due: qmllint, check-no-qassert

GPS: Set Drivers to Specific Commit
  src/GPS/CMakeLists.txt
Due: none

Fix disabling of mouse wheel support
  src/FactSystem/FactControls/FactTextFieldSlider.qml
  src/QmlControls/QGCSlider.qml
Due: qmllint

Update to new Qml coding style
  src/QmlControls/QGCSlider.qml
Due: qmllint

Updated Q_PROPERTY coding style
  tools/coding-style/CodingStyle.h
Due: check-no-qassert

Fix binding loop
  src/QmlControls/MissionItemIndexLabel.qml
Due: qmllint

Plan: Allow Mission Status panel to use space under ToolStrip
  src/QmlControls/PlanView.qml
Due: qmllint

Regression of translation in order to be handled by Crowdin.
  docs/ko/qgc-dev-guide/custom_build/resource_override.md
  docs/ko/qgc-dev-guide/custom_build/toolbar.md
  docs/ko/qgc-dev-guide/navigating_source.md
  docs/tr/qgc-dev-guide/custom_build/resource_override.md
  docs/tr/qgc-dev-guide/custom_build/toolbar.md
  docs/tr/qgc-dev-guide/navigating_source.md
  docs/zh/qgc-dev-guide/custom_build/resource_override.md
  docs/zh/qgc-dev-guide/custom_build/toolbar.md
  docs/zh/qgc-dev-guide/navigating_source.md
Due: none

Refactor Container build scripts for Android and Ubuntu; improve entrypoint handling and build directory management
  deploy/docker/Containerfile-build-android
  deploy/docker/Containerfile-build-ubuntu
  deploy/docker/docker-run.sh
  deploy/docker/entrypoint.sh
  deploy/docker/run-podman-android.sh
  deploy/docker/run-podman-ubuntu.sh
Due: none

Remove container entrypoint script as it is no longer needed
  tools/setup/container-entrypoint.sh
Due: none

ci: Refactor PR title suggestion to use actions/ai-inference
  .github/prompts/pr-title-suggestion.prompt.yml
  .github/workflows/pr-checks.yml
Due: none

ci: Fix pre-commit workflow and remove conflicting CodeQL
  .github/workflows/linux.yml
  .github/workflows/pre-commit.yml
  tools/pre-commit.sh
Due: none

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
