Repository mavlink/qgroundcontrol: changes, and which pre-commit hooks are due for each by the changed paths.
All: qmllint, check-no-qassert

qmllint:
  name: Lint QML files
  entry: bash -c 'if command -v qmllint &>/dev/null; then qmllint "$@"; else echo "qmllint not found - skipping (install Qt SDK or qt6-declarative-dev-tools)" >&2; exit 0; fi' --
  language: system
  pass_filenames: true

check-no-qassert:
  name: Check for Q_ASSERT in production code
  entry: bash -c 'if grep -n "Q_ASSERT" "$@" 2>/dev/null; then echo "::warning::Q_ASSERT found. Consider defensive checks with early returns instead." >&2; fi; exit 0' --
  language: system
  pass_filenames: true

Add Russian translation for QGC source strings (93% complete)
  translations/qgc_source_ru_RU.ts
Due: none

fix(android): package SDL shared lib and stabilize emulator smoke test
  .github/scripts/android_boot_test.py
  .github/workflows/android.yml
  src/Utilities/SDL/CMakeLists.txt
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 22c54d05463d805f3083b08998af6f83f680b576
  dev/bench/data.js
  dev/bench/index.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 22c54d05463d805f3083b08998af6f83f680b576
  dev/size/data.js
  dev/size/index.html
Due: none

WIP: Major rework of Camera support
  src/Camera/MavlinkCameraControl.h
  src/Camera/QGCCameraManager.cc
  src/Camera/QGCCameraManager.h
  src/Camera/SimulatedCameraControl.cc
  src/Camera/SimulatedCameraControl.h
  src/Camera/VehicleCameraControl.cc
  src/Camera/VehicleCameraControl.h
  src/Comms/MockLink/MockConfiguration.cc
  src/Comms/MockLink/MockConfiguration.h
  src/Comms/MockLink/MockLink.cc
  src/Comms/MockLink/MockLinkCamera.cc
  src/Comms/MockLink/MockLinkCamera.h
  src/FlightMap/Widgets/PhotoVideoControl.qml
  src/UI/AppSettings/MockLinkSettings.qml
Due: qmllint, check-no-qassert

Fix fake mobile support
  src/QmlControls/MainWindowSavedState.qml
Due: qmllint

add Benchmark (customSmallerIsBetter) benchmark result for becfcc60254cb58f48da043e29b151d2c74d8b6c
  dev/bench/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for becfcc60254cb58f48da043e29b151d2c74d8b6c
  dev/size/data.js
Due: none

MockLink gimbal support
  src/Comms/MockLink/CMakeLists.txt
  src/Comms/MockLink/MockConfiguration.cc
  src/Comms/MockLink/MockConfiguration.h
  src/Comms/MockLink/MockLink.cc
  src/Comms/MockLink/MockLink.h
  src/Comms/MockLink/MockLinkCamera.cc
  src/Comms/MockLink/MockLinkCamera.h
  src/Comms/MockLink/MockLinkGimbal.cc
  src/Comms/MockLink/MockLinkGimbal.h
  src/Comms/MockLink/MockLinkMissionItemHandler.cc
  src/Comms/MockLink/MockLinkMissionItemHandler.h
  src/QmlControls/QGroundControlQmlGlobal.cc
  src/QmlControls/QGroundControlQmlGlobal.h
  src/UI/AppSettings/MockLink.qml
  src/UI/AppSettings/MockLinkSettings.qml
  test/FactSystem/ParameterManagerTest.cc
  test/UnitTestFramework/BaseClasses/VehicleTest.cc
Due: qmllint, check-no-qassert

add Benchmark (customSmallerIsBetter) benchmark result for e589d92c275593ae997032f3990ce7f8fca50fc6
  dev/bench/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e589d92c275593ae997032f3990ce7f8fca50fc6
  dev/size/data.js
Due: none

backup defore vibe
  custom/CMakeLists.txt
  custom/res/Custom/Widgets/CustomProximitySensor.qml
  custom/src/FlyViewCustomLayer.qml
  custom/src/SprayPattern/SprayComplexItem.cc
  custom/src/SprayPattern/SprayComplexItem.h
Due: qmllint, check-no-qassert

add mavlink ftp download of PX4 .ulg log files
  src/AnalyzeView/LogDownloadController.cc
  src/AnalyzeView/LogDownloadController.h
  src/AnalyzeView/LogEntry.h
Due: check-no-qassert

feat(AnalyzeView): add MAVLink FTP log download for PX4 .ulg log files
  cmake/CustomOptions.cmake
  cmake/PrintSummary.cmake
  src/AnalyzeView/CMakeLists.txt
  src/AnalyzeView/LogDownloadController.cc
  src/AnalyzeView/LogDownloadController.h
  src/AnalyzeView/LogEntry.h
Due: check-no-qassert

Add Russian translation for QGC JSON metadata strings (100% complete)
  translations/qgc_json_ru_RU.ts
Due: none

Use default property to assign hierarchy for child controls
  src/QmlControls/QGCPopupDialog.qml
Due: qmllint

add Benchmark (customSmallerIsBetter) benchmark result for be3211bee63e56e5551045d59bc7960df46ab8cb
  dev/size/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for be3211bee63e56e5551045d59bc7960df46ab8cb
  dev/bench/data.js
Due: none

Cleared FlyViewCustomLayer
  custom/src/FlyViewCustomLayer.qml
Due: qmllint

GimbalControllerSettings: new setting to preserve yaw lock status when sending commands
  src/Settings/GimbalController.SettingsGroup.json
  src/Settings/GimbalControllerSettings.cc
  src/Settings/GimbalControllerSettings.h
Due: check-no-qassert

QGCMavlink.h: fix names for new gripper mavlink enums
  src/MAVLink/QGCMAVLink.h
Due: check-no-qassert

Gimbal: Allow center and tilt 90 to use new setting to preserve yaw lock status
  src/Gimbal/GimbalController.cc
  src/Gimbal/GimbalController.h
  src/Settings/GimbalController.SettingsGroup.json
  src/UI/toolbar/GimbalIndicator.qml
Due: qmllint, check-no-qassert

update gimbal toolbar indicator docs
  docs/en/qgc-user-guide/fly_view/fly_view_toolbar.md
Due: none

Fix Flaky Android Emulator Test
  src/main.cc
Due: check-no-qassert

add Benchmark (customSmallerIsBetter) benchmark result for a76de3c56e9b74bc8f4cd2677f84d17782c6484a
  dev/bench/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a76de3c56e9b74bc8f4cd2677f84d17782c6484a
  dev/size/data.js
Due: none

Fix CI Android Windows Signing
  .github/workflows/android.yml
Due: none

fix api changes
  src/Vehicle/FactGroups/AM32EepromSchema.cc
  src/Vehicle/FactGroups/AM32EepromSchema.h
Due: check-no-qassert

Fix NTRIP crash on HTTP 4xx/5xx and duplicate connection on startup (#13990)
  src/GPS/NTRIP.cc
Due: check-no-qassert

add Benchmark (customSmallerIsBetter) benchmark result for 80eed3dab89adbcfe9dfa2a548a693aaf84814d9
  dev/bench/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 80eed3dab89adbcfe9dfa2a548a693aaf84814d9
  dev/size/data.js
Due: none

Focus fixes: QML debug cachegen + manual runtime benchmarks
  .github/actions/cache/action.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/performance.yml
  .gitignore
  CMakeLists.txt
  cmake/Helpers.cmake
  tools/clean.sh
  tools/common/file_traversal.py
  tools/configs/ccache.conf
  tools/tests/test_common.py
Due: none

ci(docker): retry transient docker build failures
  .github/actions/docker/action.yml
Due: none

Path conditions:
  qmllint: any of: \.qml$ and not (^build/) and not (^build/)
  check-no-qassert: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/) and not (^build/)
